﻿body {
    margin: 0 0 0;
    min-width: 1200px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: left;
    line-height:1.44;
    color: #474747;
}


body > .container {
    margin-top: 17px;
}


@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

.docs-container {
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin-bottom: 150px;
    background-color: #FFF;
    position: relative;
}


body a {  
    color: #4C4B49;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}



body .ui-state-active,
body .ui-state-highlight {
    background-color: #4C4B49;
    color: #ffffff;
}

body select {
    font-family: 'Roboto', sans-serif;
    color: #4C4B49;
    font-size: 14px;
    height: 26px;
    padding: 0;
    line-height:normal !important;
    width: 186px;
    height: 26px;
    background-color: #fafafa;
    border: solid 1px #cdcdcd;
}

body input {
    height: 26px;
}

.checkbox-inline input {
    height:auto;
}

label, select {
    display: inline-block;
    vertical-align: middle;
}

.searchBox {
    padding: 4px;
    border-radius: 10px;
    height: 24px;
}


::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

.clear { clear: both }

.disabled {
    color: #B8B8B8;
}

textarea {
    resize: none;
}

.ui-tree {
    width: 100%;
    color: #B7B7CB;
}

.ui-treenode {
    padding:5px !important;
}

.hide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.show {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}

.passTypeImage {
    width:30px;
    height:30px;
    display:block;
}

.navbar-header .logo {
    background-image: url(../images/logo-laz-parking.png);
    background-size: 91%;
    background-repeat: no-repeat;
    height: 55px;
    width: 105px;
    margin: 6px 0 0 5px;
    display: inline-block;
    float: left;
}

.sidemenuitem {
    background-color: transparent;
    border: 0;
}


    .sidemenuitem a {
        background-color: #transparent;
        border: 0;
    }


    .sidemenuitem img {
        filter: invert(0%);
    }

    .sidemenuitem img path {
        fill: #000;
    }

.ui-tooltip {
    z-index:1200 !important;
}

.navbar {
    margin-bottom: 0px
}


.navbar-right .controls {
}

.navbar-right .controls .label {
    color: #fff;
}

    .navbar-right .controls .label:hover {
        color: #4a7dbf;
    }

    .navbar-right .controls > * {
        vertical-align: middle;
        cursor: pointer;
        width: 80px;
        color: #fff;
        display: inline-block;
        text-align: center;
        padding: 4px 0 0 0;
        margin: 0 10px 0 10px;
    }

        .navbar-right .controls > *:hover {
            color: #4a7dbf;
        }

    .navbar-right .controls .search {
        width: 175px;
        margin: 0 40px 0 0;
    }

        .navbar-right .controls .search:hover {
            color: #497cbd;
        }

        .navbar-right .controls .search .input {
            position: relative;
        }

        .navbar-right .controls .search .fa {
            position: absolute;
            top: 10px;
            right: -10px;
            font-size: 16px;
            font-weight: 600;
        }

        .navbar-right .controls .search input {
            width: 192px; 
            border: none;
            height: 35px; 
            background-color: #ebf2fa;
            color: #497cbd;
            font-size: 13px;
            font-style: italic;
            padding: 0 25px 0 10px;
        }


/************************************************************************************/

.navImage {
    width: 31px;
    height: 31px;
    padding: 8px 4px 8px 2px
}

input[type=text] {
    min-width: 100px;
}


.first-section img {
    width: 116px;
    height: 57px;
}

.Rectangle-1205 {
    width: 100%;
    height: 74.3px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #ced1d2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.coach-center {
    max-width: 616px;
    max-height: 643px;
}


.Rectangle-13-Login {
    font-size: 26px;
    font-weight: 300;
    width: 100%;
    height: 74.3px;
    border-radius: 2px;
    background-color: #00a7f7;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    float: none;
}

.Rectangle-1205_Copy {
    width: 100%;
    height: 74.3px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #ced1d2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Spinner 
    ========================================================================= */

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1600;
    background-color: #fffbfb;
    opacity: .75;
    margin-left: auto;
    margin-right: auto;
}

.spinner-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1rem;
    /* -1 * image width / 2 */
    margin-top: -1rem;
    /* -1 * image height / 2 */
    display: block;
}

.spinner-message {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.instruction:last-child {
    border-bottom:1px;
}

.instructionHeading {
    background-color: #FAFAFA;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    padding: 4px;
}

.b {
    border: 1px solid #F0F0F0
}


.border {
    border: 1px solid #F0F0F0
}

.border-right {
    border-right: 1px solid #F0F0F0
}

.border-left {
    border-left: 1px solid #F0F0F0
} 

.border-bottom {
    border-bottom: 1px solid #F0F0F0
}
                    
.show {
    opacity:1
}

.modal-dialog {
    top: 30%
}

.modal-body {
    line-height:28px;
}

.modal-header {
    background-color: #686868;
    color: #FFFFFF;
}

.modal-footer {
    padding: 5px;
    background-color:#FFFFFF
}

.borderTable {
    border: #204D74 5px solid
}

.nav-tabs {
    border: 1px solid #ddd;
    background-color: #FAFAFA;
}

.nav-tabs > li {
    border-right: 1px solid #ddd;
}

 .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
     color: #555;
     border:0;
     cursor: default;
     background-color: #fff;
     padding-bottom: 13px;
 }

.tab-content > .active {
    background-color: #FFF;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tabButton {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.nav-tabs > li > a {
    margin: 0px;
    border-radius: 0 0 0 0;
    color: #999999;
    background-color: #fafafa;
}

.btn-gray {
    background-color: #CDCDCD;
    color:#FFFFFF
}

.dashboard-tiles {
    margin: 40px;
}

    .dashboard-tiles > div {
        cursor: pointer;
        display: inline-block;
        height: 100px;
        line-height: 100px;
        width: 235px;
        text-align: center;
        background-color: #dddddd;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin: 20px;
    }

        .dashboard-tiles > div:hover {
            background-color: #ced2d2;
        }



.bold {
    font-weight: bold
}

.centered {
    text-align: center;
}

.grid-header {
    font-weight:normal;
    background-color: #FAFAFA;
    color: #4C4B49;
    padding: 14px 5px 14px 20px
}

body .ui-datatable .ui-datatable-thead > tr > th {
    padding: .75em;
    color: #4C4B49;
    border-color: #C7C7C7;
}

.ui-datatable-thead {
    background-color:#FFFFFF
}

.ui-datatable .ui-datatable-thead > tr > th, .ui-datatable .ui-datatable-tfoot > tr > td, .ui-datatable .ui-datatable-data > tr > td {
    border-style: none;
}

table {
    font-size: 12px;
}

body .ui-datatable thead th.ui-state-active {
    background-color:#ffffff
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-even {
    background-color: #ffffff;
}

.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: left
}


.ui-cell-data {
    color: #AFAFAF
}

.fa-2x {
    font-size: 1.45em;
}


.docs-container {
    background-color: #eeeeee
}

body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
    color: #AFAFAF;
    padding:10px;
}

.selected {
    -webkit-filter: hue-rotate(120deg);
    filter: hue-rotate(120deg);
}

body .ui-paginator .ui-paginator-pages {
    padding: 5px;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    border-radius:12px
}

.logo-img {
    width: 107px;
    height: 102px;
    border: solid 1px #cdcdcd;
}

.commandLink a {
    color: #B6B6CA;
}

.commandLink a:hover {
    color: #4C4B49;
    text-decoration: none;
    cursor: pointer;
}

.w141 {
    width:141px;
}

.iconCommandLink:hover {
    cursor: pointer;
}

.open { display: block }

body .ui-widget-content {
    background-color: #ffffff;
    border: 0;
}


body .ui-datatable .ui-datatable-data > tr {
    border-bottom: 1px solid #F0F0F0;
    padding:5px;
}

body .ui-datatable .ui-datatable-data > tr > td {
    padding:10px;
}


body .ui-tabview .ui-tabview-panel {
    padding: 2px 8px 8px 8px
    /*padding:18px 25px 25px 25px*/
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-default a, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-default a, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-default a, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-default a {
    padding: 0.375em 0.75em;
    color: #A9A9A9;
    background-color: #FAFAFA;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-default {
    background-color: #FAFAFA;
    border-color: #F0F0F0;
    color: #4A4A4A;
}


body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: #FFFFFF;
    border-color: #F0F0F0;
    color: #4A4A4A;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active a, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active a {
    color: #4A4A4A;
    font-weight: bold;
    background-color: #FFFFFF;
}

.ui-accordion .ui-accordion-header .fa {
}

body .ui-accordion .ui-accordion-header a {
    padding: .25em 0 .25em 1.35em;
}

body .ui-accordion .ui-accordion-header {
    border: 0;
    border-top: 1.0px solid #F0F0F0;
    color: #A9A9A9;
    border-radius: 0;
    margin: 0;
}

ui-accordion:last-child {
    border-bottom: 0.5px solid #F0F0F0;
    color: #A9A9A9;
    border-radius: 0;
    margin: 0;
}

body .ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #FFFFFF;
    color: #4A4A4A;
}

body .ui-accordion .ui-accordion-header.ui-state-active a {
    color: #4C4B49;
    text-decoration:none !important;
    font-weight:bold
}

.ui-helper-reset {
    line-height:inherit
}


.list-group {
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none; 
}

.navitem > .active {
    font-weight:bold
}

.tab-content > .active {
    background-color: #FFF;
}