﻿    <div class="modal-header">
        <i style="cursor:pointer" class="fa fa-2x fa-times pull-right" (click)="close()"></i>
        <h4 style="margin:0" *ngIf="salesChannel.salesChannelId == '0'">ADD SALES CHANNEL</h4>
        <h4 style="margin:0" *ngIf="salesChannel.salesChannelId && salesChannel.salesChannelId != '0'">EDIT SALES CHANNEL</h4>
    </div>
    <div class="modal-body">
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Sales Channel:</div>
            <div class="col-md-4" style="padding:0;">&nbsp;&nbsp;&nbsp;<input [(ngModel)]="salesChannel.name" /></div>
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Amount:</div>
            <input type="number" [(ngModel)]="salesChannel.amount" />
            <select [(ngModel)]="salesChannel.amountType" style="margin-left:20px;width:50px">
                <option>$</option>
                <option>%</option>
            </select>
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Include in Rate:</div>
            <input type="checkbox" id="cb1" [(ngModel)]="salesChannel.includeInRate">
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Active:</div>
            <input type="checkbox" id="cb1" [(ngModel)]="salesChannel.active">
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Min Cap Fee:</div>
            $&nbsp;<input type="number" [(ngModel)]="salesChannel.minCapFee" />
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Max Cap Fee:</div>
            $&nbsp;<input type="number" [(ngModel)]="salesChannel.maxCapFee" />
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Fee Type:</div>
            <select [(ngModel)]="salesChannel.feeType">
                <option>ResFee</option>
                <option>Tax</option>
                <option>Oversized</option>
                <option>City Tax</option>
            </select>
        </div>
    </div>
    <div class="modal-footer"> 
        <button class="btn btn-primary col-md-offset-11" (click)="saveSalesChannel()" [disabled]="!salesChannel.complete">SAVE</button>
    </div>
