﻿    <div class="modal-header">
        <i style="cursor:pointer" class="fa fa-2x fa-times pull-right" (click)="close()"></i>
        <h4 style="margin:0" *ngIf="user.userId == '0'">ADD USER</h4>
        <h4 style="margin:0" *ngIf="user.userId && user.userId != '0'">EDIT USER</h4>
    </div>
    <div class="modal-body">
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Username:</div>
            <div class="col-md-4" style="padding:0">
                <input [(ngModel)]="user.userName" required />
            </div>           
        </div>   
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Full Name:</div>
            <div class="col-md-4" style="padding:0">
                <input [(ngModel)]="user.fullName" required />
            </div>
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Password:</div>
            <div class="col-md-4" style="padding:0">
                <input type="password" [(ngModel)]="user.password" required />
            </div>
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Confirm:</div>
            <div class="col-md-4" style="padding:0">
                <input  type="password" [(ngModel)]="user.confirmPassword" required />
            </div>
        </div>
        <div class="row p10" style="padding:0">
            <div class="col-md-2" style="width:14%">Role:</div>
            <p-multiSelect [filter]="false" [style]="{ width:'300px' }"  [options]="allRoles" [(ngModel)]="user.roles"></p-multiSelect>
        </div>
        <div class="row p10" style="padding:0">
            <div class="col-md-2" style="width:14%">Organizations:</div>
            <p-multiSelect [style]="{ width:'300px' }"  [options]="allOrganizations" [(ngModel)]="user.organizations"></p-multiSelect>
        </div>
        <div class="row p10" style="padding:0">
            <div class="col-md-2" style="width:14%">Locations:</div>
            <p-multiSelect [style]="{ width:'300px' }" [options]="allLocations" [(ngModel)]="user.locationOrganizations"></p-multiSelect>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary col-md-offset-11" (click)="saveUser()" [disabled]="!user.complete">SAVE</button>
    </div>
