﻿<p-growl [value]="msgs"></p-growl>
<div class="col-md-12" style="background-color:#E7E7E7;padding:20px 0 17px 15px;font-weight:normal;border-bottom:1px solid #DFDFDF">
    <span class="bold" style="font-size:16px;margin:0;background-color:transparent;">Adjustment Reasons</span>
</div>
<div class="col-md-12" style="background-color:#EEEEEE;padding:20px">
    <div class="col-md-12" style="background-color:#EEEEEE; border:1px solid #DFDFDF; padding:0">
        <div class="clearfix"></div>
        <div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
            ADJUSTMENT REASONS<div class="pull-right"><i class="fa fa-2x fa-plus iconCommandLink" style="color:#1D6EA4;position:static;margin-top:0;margin-right:15px;" (click)="addReason();"></i></div>
            <div style="clear:both"></div>
        </div>
        <div style="margin:0;padding:0;background-color:#FFFFFF">
            <div class="row p5 ml20 mr10 20">
                <div style="border-bottom:0px" class="row p4 border">
                    <div class="col-md-10" style="padding:0">
                        <strong>REASON</strong>
                    </div>
                </div>
                <div style="border-bottom:0px" class="row p4 border" *ngFor="let reason of adjustmentReasons">
                    <div class="col-md-10" style="padding:0" *ngIf="!reason.edit">
                        {{reason.reason}}
                    </div>
                    <div class="col-md-9" style="padding:0;margin:5px 5px 5px 0" *ngIf="reason.edit">
                        <input type="text" [(ngModel)]="reason.reason" style="width:100%;padding:2px" />
                    </div>
                    <div class="pull-right" style="padding:0;margin-right:3px">
                        <i style="color:#2575BC;cursor:pointer" class="fa fa-2x fa-pencil" *ngIf="!reason.edit" (click)="reason.edit = !reason.edit"></i>
                        <i style="color:#2575BC;cursor:pointer" class="fa fa-2x fa-save" *ngIf="reason.edit" (click)="saveReason(reason)"></i>
                        <i style="color:#1D6EA4;" class="fa fa-2x fa-remove iconCommandLink" (click)="removeReason(blackout)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



