﻿<p-growl [value]="msgs"></p-growl>
<div class="col-md-12" style="background-color:#E7E7E7;padding:20px 0 17px 15px;font-weight:normal;border-bottom:1px solid #DFDFDF">
    <span class="bold" style="font-size:16px;margin:0;background-color:transparent;"><a [routerLink]="['/admin/organization-list']">Select Organization</a></span>
</div>
<div class="col-md-12" style="background-color:#EEEEEE;padding:20px">
        <div class="col-md-12" style="background-color:#EEEEEE; border:1px solid #DFDFDF; padding:0">
            <div class="clearfix"></div>
            <div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
                ORGANIZATIONS<div class="pull-right"><i class="fa fa-2x fa-plus iconCommandLink" style="color:#1D6EA4;position:static;margin-top:0;margin-right:15px;" (click)="addInventory();"></i></div>
                  <i class="fa fa-search fa-2x pull-right" style="margin-right:10px;color:#216FA6" aria-hidden="true"></i><input #gb type="text" (keyup)="searchKeyDown()" [(ngModel)]="searchTerm" class="pull-right searchBox" placeholder="Search">
                  <div style="clear:both"></div>
            </div>
            <p-tree [value]="organizationTreeNodes" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>
            <br />
        </div>
    </div>



