﻿<p-growl [value]="msgs"></p-growl>
<div class="col-md-12" style="background-color:#E7E7E7;padding:20px 0 17px 15px;font-weight:normal;border-bottom:1px solid #DFDFDF">
    <span class="bold" style="font-size:16px;margin:0;background-color:transparent;"><a [routerLink]="['/admin/organization-list']">Select Organization</a> / <span style="color:#3B97D3">{{organization?.name}}</span></span>
</div>
<div class="col-md-12" style="background-color:#EEEEEE;padding:20px"> 
    <tabset>
        <tab heading='Location Details'>
            <form novalidate (ngSubmit)="saveOrganization()" #dbForm="ngForm">
                <div style="padding:1.25em">
                    <div class="row pb10">
                        <div class="col-md-2">Organization Name:</div>
                        <div class="col-md-3"><input name="first" style="width:200px" type="text" [(ngModel)]="organization.name" /></div>
                        <div class="col-md-offset-1 col-md-2">Contact Person:</div>
                        <div class="col-md-2"><input name="last" style="width:200px" type="text" [(ngModel)]="organization.contactPerson" /></div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2">Parent Organization:</div>
                        <div class="col-md-3">
                            <select name="parent" [(ngModel)]="organization.parentOrganizationId" style="width:200px">
                                <option *ngFor="let org of allParents" [value]="org.organizationId">{{org.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-offset-1 col-md-2">Contact Email:</div>
                        <div class="col-md-2">
                            <input type="email" name="contactEmail" style="width:200px" [(ngModel)]="organization.contactEmail" />
                        </div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2">Currency Symbol:</div>
                        <div class="col-md-3">
                            <select name="currencySymbol" [(ngModel)]="organization.currencySymbol" style="width:200px">
                                <option value="$">$</option>
                            </select>
                        </div>
                        <div class="col-md-offset-1 col-md-2">Contact Phone:</div>
                        <div class="col-md-2">
                            <input type="text" name="contactPhone" style="width:200px" [(ngModel)]="organization.contactPhone" />
                        </div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2">Address:</div>
                        <div class="col-md-3">
                            <input type="text" name="streetAddress" style="width:200px" [(ngModel)]="organization.streetAddress" />
                        </div>
                        <div class="col-md-offset-1 col-md-2">Call Center Reservation URL:</div>
                        <div class="col-md-2">
                            <input type="url" name="ccRes" style="width:200px" [(ngModel)]="organization.callCenterReservationUrl" />
                        </div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2">City:</div>
                        <div class="col-md-3">
                            <input type="text" name="city" style="width:200px" [(ngModel)]="organization.city" />
                        </div>
                        <div class="col-md-offset-1 col-md-2">Parking Pass URL:</div>
                        <div class="col-md-2">
                            <input type="text" name="ppUrl" style="width:200px" [(ngModel)]="organization.parkingPassUrl" />
                        </div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2">Zip:</div>
                        <div class="col-md-3">
                            <input type="text" name="zip" style="width:200px" [(ngModel)]="organization.zip" />
                        </div>
                        <div class="col-md-offset-1 col-md-2">Document:</div>
                        <div class="col-md-2">
                            <input type="text" name="document" style="width:200px" [(ngModel)]="organization.document" />
                        </div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2">Site Code:</div>
                        <div class="col-md-3">
                            <input type="text" name="siteCode" style="width:200px" [(ngModel)]="organization.siteCode" />
                        </div>
                        <div class="col-md-offset-1 col-md-2">Auto Renew Days:</div>
                        <div class="col-md-2">
                            <input type="number" name="autoRenewDays" style="width:200px" [(ngModel)]="organization.autoRenewDays" />
                        </div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2">Customer Care Email:</div>
                        <div class="col-md-3">
                            <input type="email" name="ccEmail" style="width:200px" [(ngModel)]="organization.customerCareEmail" />
                        </div>
                        <div class="col-md-offset-1 col-md-2">Auto Renew Period:</div>
                        <div class="col-md-2">
                            <input type="number" name="arPeriod" style="width:200px" [(ngModel)]="organization.autoRenewPeriod" />
                        </div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2">Daily Export Last Export Date:</div>
                        <div class="col-md-3">
                            <input type="date" name="deLep" style="width:200px" [(ngModel)]="organization.dailyExportLastExportDate" />
                        </div>
                        <div class="col-md-offset-1 col-md-2">Logo:</div>
                        <div class="col-md-2">
                            <input type="url" name="logo" style="width:200px" [(ngModel)]="organization.logoUri" />
                        </div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2">Fulfillment Date:</div>
                        <div class="col-md-3">
                            <input type="date" name="ffDate" style="width:200px" [(ngModel)]="organization.fullfillmentDate" />
                        </div>
                    </div>
                    <div class="row pb10">
                        <div class="col-md-2"><button class="btn btn-primary" [disabled]="!dbForm.valid || !dbForm.dirty" type="submit">SAVE</button></div>
                    </div>
                </div>
            </form>
        </tab>
        <tab heading='Users'>
            <users [users]="organization.users" (addingUser)="addingUser($event)" (editingUser)="editingUser($event)" (deletingUser)="deletingUser($event)"></users>
        </tab>
        <tab heading='Languages'>
            <div style="padding:1.25em">
                <div class="row pb10">
                    <div class="col-md-2">Languages Available:</div>
                    <div class="col-md-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="cb3" [(ngModel)]="organization.english">English
                        </label><br />
                        <label class="checkbox-inline">
                            <input type="checkbox" id="cb3" [(ngModel)]="organization.spanish">Spanish
                        </label><br />
                        <label class="checkbox-inline">
                            <input type="checkbox" id="cb3" [(ngModel)]="organization.french">French
                        </label><br />
                        <label class="checkbox-inline">
                            <input type="checkbox" id="cb3" [(ngModel)]="organization.german">German
                        </label>
                    </div>
                </div>
            </div>
            <hr style="margin:0" />
            <div style="padding:1.25em">
                <label class="checkbox-inline bold">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.customizeLanguageFields">Customize Language Fields
                </label>
                <div style="clear:both">&nbsp;</div>
                <div *ngIf="organization.customizeLanguageFields">
                    <label class="checkbox-inline">
                        <input type="radio" name="selectedLanguage" value="en" [(ngModel)]="selectedLanguage">English
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="selectedLanguage" value="es" [(ngModel)]="selectedLanguage">Spanish
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="selectedLanguage" value="fr" [(ngModel)]="selectedLanguage">French
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="selectedLanguage" value="de" [(ngModel)]="selectedLanguage">German
                    </label>
                </div>
                <div style="clear:both">&nbsp;</div>
                <div *ngIf="organization.customizeLanguageFields" class="grid-header" style="border-bottom:1px solid #DFDFDF;">
                    <div class="pull-left">LANGUAGE FIELDS</div>
                    <div class="pull-right"><i class="fa fa-2x fa-plus iconCommandLink" style="color:#1D6EA4;position:static;margin-top:0;margin-right:15px;" (click)="addTranslation();"></i></div>
                    <div style="clear:both"></div>
                </div>
                <p-dataTable *ngIf="organization.customizeLanguageFields" [immutable]="false" selectionMode="single" [value]="getLanguageFields()" tableStyleClass="pull-right" [responsive]="true">
                    <p-column field="labelName" header="LABEL NAME" styleClass="col-md-2"></p-column>
                    <p-column field="translation" header="TRANSLATION" styleClass="col-md-8"></p-column>
                    <p-column field="comment" header="COMMENT" styleClass="col-md-2"></p-column>
                    <p-column *ngIf="!readOnly" styleClass="col-md-1">
                        <ng-template let-col let-languageField="rowData" pTemplate="body">
                            <i style="color:#1D6EA4" class="fa fa-2x fa-pencil iconCommandLink" (click)="editLanguageField(languageField)"></i>&nbsp;
                            <i style="color:#1D6EA4" class="fa fa-2x fa-remove iconCommandLink" (click)="removeLanguageField(languageField)"></i>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
            <hr style="margin:0" />
            <div style="clear:both"></div>
        </tab>
        <tab heading='Required Fields'>
            <hr style="margin:0" />
            <div style="padding:1.25em">
                <label class="checkbox-inline bold">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.customizeRequiredFields">Customize Required Fields
                </label>
            </div>
            <hr style="margin:0" />
            <div style="padding:1.25em" *ngIf="organization.customizeRequiredFields">
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredCustomerSalutation">Customer Salutation               
                </label>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredVehicleName">Vehicle Name
                </label>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredMobileNumberMandantory">Mobile Number Mandantory
                </label>
                <div style="clear:both;">&nbsp;</div>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredFirstName">First Name
                </label>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredVehicleMake">Vehicle Make
                </label>
                <label class="checkbox-inline col-md-4">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredCreditCardOnAccountMandantory">Credit Card on Account Mandantory
                </label>
                <div style="clear:both">&nbsp;</div>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredLastName">Last Name
                </label>
                <label class="checkbox-inline col-md-6">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredVehicleModel">Vehicle Model
                </label>
                <div style="clear:both">&nbsp;</div>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredAddress1">Address 1
                </label>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredVehicleColor">Vehicle Color
                </label>
                <div style="clear:both">&nbsp;</div>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredAddress2">Address 2
                </label>
                <label class="checkbox-inline col-md-6">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredLicensePlateState">License Plate State
                </label>
                <div style="clear:both">&nbsp;</div>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredCity" />City
                </label>
                <label class="checkbox-inline col-md-6">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredLicensePlateNumber">License Plate Number
                </label>
                <div style="clear:both">&nbsp;</div>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredState" />State
                </label>
                <label class="checkbox-inline col-md-6">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredInboundFlight">Inbound Flight
                </label>
                <div style="clear:both">&nbsp;</div>
                <label class="checkbox-inline col-md-3">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredCountry" />Country
                </label>
                <label class="checkbox-inline col-md-6">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredOutboundFlight">Outbound Flight
                </label>
                <div style="clear:both">&nbsp;</div>
                <label class="checkbox-inline col-md-12">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredZip" />Zip Code
                </label>
                <div style="clear:both">&nbsp;</div>
                <label class="checkbox-inline col-md-12">
                    <input type="checkbox" id="cb3" [(ngModel)]="organization.requiredMobileNumber">Mobile Number
                </label>
                <div style="clear:both">&nbsp;</div>
            </div>
        </tab>
        <tab heading='Fees/Taxes'>
        </tab>
        <tab heading='Communications'>
            <div class="pt10">
                <communications [setup]="organization.communicationSetup"></communications>
            </div>
        </tab>
        <tab heading='Export Settings'>
            <div style="padding:1.25em" >
                <div class="row pb10">
                    <div class="col-md-3">Daily Export System Address:</div>
                    <div class="col-md-2">
                        <input type="email" name="dEmail" style="width:200px" [(ngModel)]="organization.exportSetting.dailyExportSystemAddress" />
                    </div>
                    <div class="col-md-offset-1 col-md-3">Fulfillment Export System Address:</div>
                    <div class="col-md-2">
                        <input type="email" name="ffEmail" style="width:200px" [(ngModel)]="organization.exportSetting.fulfillmentExportSystemAddress" />
                    </div>
                </div>
                <div class="row pb10">
                    <div class="col-md-3">Daily Export System Username:</div>
                    <div class="col-md-2">
                        <input type="text" name="eu" style="width:200px" [(ngModel)]="organization.exportSetting.dailyExportSystemUserName" />
                    </div>
                    <div class="col-md-offset-1 col-md-3">Fulfillment Export System Username:</div>
                    <div class="col-md-2">
                        <input type="text" name="fusername" style="width:200px" [(ngModel)]="organization.exportSetting.fulfillmentExportSystemUserName" />
                    </div>
                </div>
                <div class="row pb10">
                    <div class="col-md-3">Daily Export System Password:</div>
                    <div class="col-md-2">
                        <input type="text" name="ep" style="width:200px" [(ngModel)]="organization.exportSetting.dailyExportSystemPassword" />
                    </div>
                    <div class="col-md-offset-1 col-md-3">Fulfillment Export System Password:</div>
                    <div class="col-md-2">
                        <input type="text" name="fp" style="width:200px" [(ngModel)]="organization.exportSetting.fulfillmentExportSystemPassword" />
                    </div>
                </div>
                <div class="row pb10">
                    <div class="col-md-3">Daily Export System Protocol:</div>
                    <div class="col-md-2">
                        <select [(ngModel)]="organization.exportSetting.dailyExportSystemProtocol">
                            <option value="FTP">FTP</option>
                            <option value="SFTP">SFTP</option>
                        </select>
                    </div>
                    <div class="col-md-offset-1 col-md-3">Fulfillment Export System Protocol:</div>
                    <div class="col-md-2">
                        <select [(ngModel)]="organization.exportSetting.fulfillmentExportSytemProtocol">
                            <option value="FTP">FTP</option>
                            <option value="SFTP">SFTP</option>
                        </select>
                    </div>
                </div>
                <div class="row pb10">
                    <div class="col-md-3">Daily Export System Port:</div>
                    <div class="col-md-2">
                        <input type="number" name="eport" style="width:200px" [(ngModel)]="organization.exportSetting.dailyExportSystemPort" />
                    </div>
                    <div class="col-md-offset-1 col-md-3">Fulfillment Export System Port:</div>
                    <div class="col-md-2">
                        <input type="number" name="fport" style="width:200px" [(ngModel)]="organization.exportSetting.fulfillmentExportSystemPort" />
                    </div>
                </div>
            </div>
        </tab>
    </tabset>  
</div>
