﻿<p-growl [value]="msgs"></p-growl>
<div class="col-md-12" style="background-color:#E7E7E7;padding:20px 0 17px 15px;font-weight:normal;border-bottom:1px solid #DFDFDF">
    <span class="bold" style="font-size:16px;margin:0;background-color:transparent;"><a [routerLink]="['/admin/sales-channel-list']">Sales Channel</a></span>
</div>
<div class="col-md-12" style="background-color:#EEEEEE;padding:20px">
        <div class="col-md-12" style="background-color:#EEEEEE; border:1px solid #DFDFDF; padding:0">
            <div class="clearfix"></div>
            <div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
                SALES CHANNEL<div class="pull-right"><i class="fa fa-2x fa-plus iconCommandLink" style="color:#1D6EA4;position:static;margin-top:0;margin-right:15px;" (click)="addSalesChannel();"></i></div>
                <i class="fa fa-search fa-2x pull-right" style="margin-right:10px;color:#216FA6" aria-hidden="true"></i><input #gb type="text" style="padding:2px;height:24px;" class="pull-right" placeholder="Search">
            </div>
            <p-dataTable [immutable]="false" [rowStyleClass]="lookupRowStyleClass" (onFilter)="onFilter($event)" (onSort)="onSort($event)" selectionMode="single" [value]="salesChannels" tableStyleClass="pull-right" [responsive]="true" [globalFilter]="gb">
                <p-column field="name" header="SALES CHANNEL" sortable="true" styleClass="col-md-2"></p-column>
                <p-column field="amount" header="VALUE" styleClass="col-md-2" sortable="true" >
                    <ng-template let-col let-sc="rowData" pTemplate="body">
                        <span>{{sc.amountType}}&nbsp;{{sc.amount}}</span>
                    </ng-template>
                </p-column>   
                <p-column field="includeInRate" header="INCLUDE IN RATE" styleClass="col-md-1" sortable="true">
                    <ng-template let-col let-sc="rowData" pTemplate="body">
                        <input type="checkbox" checked="{{sc.includeInRate}}" disabled />
                    </ng-template>
                </p-column>   
                <p-column field="includeInRate" header="ACTIVE" styleClass="col-md-1" sortable="true">
                    <ng-template let-col let-sc="rowData" pTemplate="body">
                        <input type="checkbox" checked="{{sc.active}}" disabled />
                    </ng-template>
                </p-column>   
                <p-column field="minCapFee" header="MIN CAP FEE" styleClass="col-md-2" sortable="true">
                    <ng-template let-col let-sc="rowData" pTemplate="body">
                        <span>{{sc.minCapFee | currency:'USD':true:'1.0-0'}}</span>
                    </ng-template>
                </p-column>   
                <p-column field="minCapFee" header="MAX CAP FEE" styleClass="col-md-2" sortable="true">
                    <ng-template let-col let-sc="rowData" pTemplate="body">
                        <span>{{sc.maxCapFee | currency:'USD':true:'1.0-0'}}</span>
                    </ng-template>
                </p-column>   
                <p-column field="feeType" header="FEE TYPE" sortable="true" styleClass="col-md-2"></p-column>
                <p-column styleClass="col-md-2 text-right">
                    <ng-template let-col let-sc="rowData" pTemplate="body">
                        <i style="color:#1D6EA4;" class="fa fa-2x fa-pencil iconCommandLink" (click)="editSalesChannel(sc)"></i>&nbsp;
                        <i style="color:#1D6EA4;" class="fa fa-2x fa-remove iconCommandLink" (click)="removeSalesChannel(sc)"></i>
                    </ng-template>
                </p-column>
             
            </p-dataTable>
            <br />
        </div>
    </div>



