﻿<div style="background-color:#EEEEEE; border:1px solid #DFDFDF;">
    <div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
        <div class="pull-left">USERS</div>
        <div class="pull-right"><i *ngIf="!readOnly" class="fa fa-2x fa-plus iconCommandLink" style="color:#1D6EA4;position:static;margin-top:0;margin-right:15px;" (click)="addUser();"></i></div>
        <div style="clear:both"></div>
    </div>  
    <p-dataTable [(selection)]="selectedUser" [editable]="true" [immutable]="false" selectionMode="single" [value]="users" tableStyleClass="pull-right" [responsive]="true">
        <p-column field="userName" header="USERNAME" sortable="true" styleClass="col-md-2"></p-column>
        <p-column field="fullName" header="FULL NAME" sortable="true" styleClass="col-md-2"></p-column>
        <p-column header="ROLES" styleClass="col-md-3">
            <ng-template let-col let-user="rowData" pTemplate="body">
                <span>{{ formatRoles(user) }}</span>
            </ng-template>        
        </p-column>
        <p-column header="ORGANIZATIONS" styleClass="col-md-3">
            <ng-template let-col let-user="rowData" pTemplate="body">
                <span>{{ user.organizations.join()  }}</span>
            </ng-template>
        </p-column>
        <p-column header="LOCATIONS" styleClass="col-md-3">
            <ng-template let-col let-user="rowData" pTemplate="body">
                <span>{{ user.locationOrganizations.join()  }}</span>
            </ng-template>
        </p-column>       
        <p-column styleClass="col-md-2 text-right">
            <ng-template let-col let-yser="rowData" pTemplate="body">
                <i style="color:#1D6EA4;" class="fa fa-2x fa-pencil iconCommandLink" (click)="editUser(user)"></i>&nbsp;
                <i style="color:#1D6EA4;" class="fa fa-2x fa-remove iconCommandLink" (click)="removeUser(user)"></i>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>