﻿<div id="content" class="container fill">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 first-section">
            <form #loginForm="ngForm" (ngSubmit)="onResetPassword($event)" autocomplete="false">
                <img src="/app/images/logo-laz-parking.png" class="center-block">
                 
                <p class="help-block text-left clearfix" style="font-size:18px;margin-top: 30px;" *ngIf="!condition">{{translationService.translate('Enter your email and we will send you a link where you can reset your password.')}}</p>
                <div class="text-center form-group text1" [ngClass]="{ 'has-error' : !emailField.valid && emailField.dirty, 'has-error' : !emailField.valid && emailField.touched  }" *ngIf="!condition">
                    <input #emailField="ngModel" [(ngModel)]="email" class="Rectangle-1205 form-control" type="text" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="{{translationService.translate('Enter Email Address')}}" name="email" id="email" required />
                    <p class="help-block" *ngIf="emailField.errors?.required && emailField.touched">{{translationService.translate('*Email cannot be blank')}}</p>
                    <p class="help-block" *ngIf="emailField.errors?.pattern && emailField.touched">{{translationService.translate('*Must be a valid email address')}}</p>
                </div>
                <div class="text-center form-group" *ngIf="!condition">
                    <button type="submit" class="Rectangle-13-Login form-control" [disabled]="!loginForm.valid"><p class="center-block RESET-PASSWORD">{{translationService.translate('SEND EMAIL')}}</p></button>
                </div>
                <div class="text-center SUCCESS-MSG" *ngIf="condition">
                    <p>{{translationService.translate('Success! Check your email')}}</p>
                </div>
                <div class="text-center"><h5 style="color:red">{{translationService.translate(message)}}</h5></div>
                <div class="Not-a-Member-Activa center-block"><a class="text-style-1" routerLink="/login" routerLinkActive="active">{{translationService.translate('LogRePassy')}}</a></div>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 coach">
        </div>
    </div>
</div>
<div class="footer">
    <div class="text-center">&copy; 2017 LAZ Parking Inc. All Rights Reserved</div>
</div>
