﻿  <!-- Navbar -->  
<nav class="navbar bg-light docs-navbar">
    <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">              
             <div class="logo"></div>  
            <h3 class="pull-left  p1" style="color:#4C4B49;margin:19px 1px 1px 4px">Admin</h3> 
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <!-- navbar right --> 
            <div class="navbar-right">
                <div class="btn-group">
                    <div (click)="showDropDown=!showDropDown" style="margin-top:18px;color:#4C4B49;cursor:pointer">{{contextService.ContextInfo.fullName}}&nbsp;&nbsp;<i [ngClass]="!showDropDown ? 'fa fa-caret-down':'fa fa-caret-up'"></i></div>
                    <ul class="dropdown-menu" [ngClass]="{'open': showDropDown}" >
                        <li class="commandLink" style="padding:4px;"><a (click)="logout()">Logout</a></li>
                        <li class="commandLink"style="padding:4px;"><a>My Account</a></li>
                    </ul>
                </div>
            </div>  
        </div>   
        <!-- /.navbar-collapse -->   
    </div>
    <!-- /.container-fluid --> 
</nav>
   <!-- Doc Container -->  
<div class="container">   
    <div class="docs-container m0" id="docs">
        <div class="row table-layout">  
            <!-- Documentation Nav -->   
            <div class="col-xs-3 left-col" style="width:21%;background-color:#E0E0E0;vertical-align:top;">           
                <br />
                <!-- version info list group -->  
                <!-- list group menu accordion -->    
                <div>{{contextService.ContextInfo.fullName}}</div>  
                <div class="commandLink"><a (click)="logout()">Logout</a></div><br />
                <div>MENU</div>
                <ul class="list-group list-group-accordion sidemenuitem">
                    <li class="list-group-item sidemenuitem">
                        <span><img class="navImage" [src]="contextService.currentSection == 'home' ? '/app/images/home_blue.svg' : '/app/images/home_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Home</a></span>
                    </li>
                    <li class="list-group-item sidemenuitem"> 
                        <span><img class="navImage"  [src]="contextService.currentSection == 'locations' ? '/app/images/location_blue.svg' : '/app/images/location_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['/location/location-list']">Locations</a></span>
                    </li>
                    <li class="list-group-item sidemenuitem">
                        <span><img class="navImage" [src]="contextService.currentSection == 'transactions' ? '/app/images/transaction_blue.svg' : '/app/images/transaction_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Transactions</a></span>
                    </li>
                    <li class="list-group-item sidemenuitem">
                        <span><img class="navImage" [src]="contextService.currentSection == 'setup' ? '/app/images/setup_blue.svg' : '/app/images/setup_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Setup</a></span>
                    </li>                       
                    <li class="list-group-item sidemenuitem">
                        <span><img class="navImage" [src]="contextService.currentSection == 'coupons' ? '/app/images/coupons_blue.svg' : '/app/images/coupons_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Coupons</a></span>
                    </li>
                    <li class="list-group-item sidemenuitem">
                        <span><img class="navImage" [src]="contextService.currentSection == 'events' ? '/app/images/events_blue.svg' : '/app/images/events_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Events</a></span>
                    </li>
                    <li class="list-group-item sidemenuitem">
                        <span><img class="navImage" [src]="contextService.currentSection == 'admin' ? '/app/images/admin_blue.svg' : '/app/images/admin_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a (click)="contextService.currentSection='admin'">Administrative</a></span>
                        <ul style="padding-left:0px" [ngClass]="{'show':contextService.isInAdmin, 'hide':!contextService.isInAdmin }">
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-organization' ? '/app/images/org_blue.svg' : '/app/images/org_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['/admin/organization-list']">Organization</a></span>
                            </li>
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-roles' ? '/app/images/users_blue.svg' : '/app/images/users_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Roles</a></span>
                            </li>
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-users' ? '/app/images/users_blue.svg' : '/app/images/users_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['/admin/users']">Users</a></span>
                            </li>
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-languages' ? '/app/images/languages_blue.svg' : '/app/images/languages_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Languages</a></span>
                            </li>
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-saleschannel' ? '/app/images/saleschannel_blue.svg' : '/app/images/saleschannel_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['/admin/sales-channel-list']">Sales Channel</a></span>
                            </li>
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-adjustmentreasons' ? '/app/images/adjustments_blue.svg' : '/app/images/adjustments_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['/admin/adjustment-reason-list']">Adjustment Reasons</a></span>
                            </li>
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-change' ? '/app/images/change_blue.svg' : '/app/images/change_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Change History</a></span>
                            </li>
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-cancel' ? '/app/images/cancellation_blue.svg' : '/app/images/cancellation_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Cancellation Policies</a></span>
                            </li>
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-systemTypes' ? '/app/images/systemtypes_blue.svg' : '/app/images/systemtypes_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Types</a></span>
                            </li>
                            <li class="list-group-item sidemenuitem" style="padding-top:0px; padding-bottom:0px">
                                <span><img class="navImage" [src]="contextService.currentSection == 'admin-templates' ? '/app/images/templates_blue.svg' : '/app/images/templates_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Templates</a></span>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item sidemenuitem">
                        <span><img class="navImage" [src]="contextService.currentSection == 'fulfillment' ? '/app/images/fulfillment_blue.svg' : '/app/images/fulfillment_grey.svg'" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Fulfillment</a></span>
                    </li>
                </ul>                   
            </div>

            <!-- Documentation Content -->
            <div class="col-xs-9 center-col va-t" ui-view="screens" style="width:79%;border:0;padding:0;margin:0">
                <!-- (Child detail views) Routed views go into this -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

