﻿<div id="content" class="container fill">
    <div class="row"> 
        <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-sm-6 col-sm-offset-6 col-xs-6 col-xs-offset-6 first-section">
            <form #loginForm="ngForm" (ngSubmit)="onLogin($event)" autocomplete="false" style="text-align:center">
                <img src="/app/images/logo-laz-parking.png"><br /><br /> 
                <div style="margin-left:20%" class="text-center form-group text1" [ngClass]="{ 'has-error' : !emailField.valid && emailField.dirty, 'has-error' : !emailField.valid && emailField.touched  }">
                    <input  type="text" style="width:230px" class="form-control" id="email" required [(ngModel)]="email" name="email" #emailField="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="{{translationService.translate('Email')}}"/>
                    <p class="help-block" *ngIf="emailField.errors?.required && emailField.touched">{{translationService.translate('*Email cannot be blank')}}</p>
                    <p class="help-block" *ngIf="emailField.errors?.pattern && emailField.touched">{{translationService.translate('*Must be a valid email address')}}</p>
                </div>
                <div style="margin-left:20%" class="text-center form-group text1" [ngClass]="{ 'has-error' : !passwordField.valid && passwordField.dirty, 'has-error' : !passwordField.valid && passwordField.touched  }" >
                    <input type="password" style="width:230px" class="form-control" id="password" required [(ngModel)]="password" name="password" #passwordField="ngModel" placeholder="{{translationService.translate('Password')}}" maxlength="20" />
                    <p class="help-block" *ngIf="passwordField.errors?.required && passwordField.touched">{{translationService.translate('*Password cannot be Blank')}}</p>
                </div>
                <div [hidden]="!erroMsgShow">
                    <h5 class="text-center" style="color:red;">'Looks like your email or password are incorrect.'</h5>
                </div>
                <div class="form-group col-md-offset-1">
                    <p><a routerLink="/resetPassword" routerLinkActive="active">{{translationService.translate('Forgot Password?')}}</a></p>
                </div> 
                <div class="text-center form-group col-md-offset-2">
                    <button type="submit" style="width:100px;background-color:#00A7F8;color:#ffffff;margin-left:24%" class="form-control" [disabled]="!loginForm.valid"><p class="center-block LOG-IN" style="color:#ffffff">{{translationService.translate('LOG IN')}}</p></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="text-center">&copy; 2017 LAZ Parking Inc. All Rights Reserved</div>
</div>
