﻿    <div class="modal-header">
        <i style="cursor:pointer" class="fa fa-2x fa-times pull-right" (click)="close()"></i>
        <h4 style="margin:0" *ngIf="rate.rateId == '0'">ADD RATE</h4>
        <h4 style="margin:0" *ngIf="rate.rateId != '0'">EDIT RATE</h4>
    </div>
    <div class="modal-body">
        <div *ngIf="step == 1">
            <div class="row p10 bold">
                <div class="col-md-12">
                    Rate Details
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Rate Name:</div>
                <div class="col-md-10" style="padding:0">
                    <div *ngFor="let rn of rate.rateNameByLanguage">
                        <input [(ngModel)]="rn.rateName" type="text" [placeholder]="rn.language.description" style="padding:2px;width:400px" />
                        <br /><br />
                    </div>
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Rate Type:</div>
                <select style="padding:0" [(ngModel)]="rate.typeId">
                    <option value="1">Timed</option>
                    <option value="2">Flat</option>
                </select>
            </div>
        </div>
        <div *ngIf="step == 2">
            <div class="row p10 bold">
                <div class="col-md-12">
                    Rate Times
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2" style="width:14%">Start Time:</div>
                <div class="col-md-10" style="padding:0">
                   <input type="number" style="width:40px" min="1" max="12" [(ngModel)]="rate.startHour" />&nbsp;&nbsp;
                   <input type="number" style="width:40px" min="0" max="59" [(ngModel)]="rate.startMinute" />&nbsp;&nbsp;
                   <select [(ngModel)]="rate.startAMPM" style="width:50px" >
                       <option value="AM">AM</option>
                       <option value="PM">PM</option>
                   </select>
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2" style="width:14%">End Time:</div>
                <div class="col-md-10" style="padding:0">
                    <input type="number" style="width:40px;padding:2px" min="1" max="12" [(ngModel)]="rate.endHour" />&nbsp;&nbsp;
                    <input type="number" style="width:40px;padding:2px" min="0" max="59" [(ngModel)]="rate.endMinute" />&nbsp;&nbsp;
                    <select [(ngModel)]="rate.endAMPM" style="width:80px" >
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>&nbsp;&nbsp; 
                    <select [(ngModel)]="rate.sameDayNextDay" style="width:100px">
                        <option value="Same">Same Day</option>
                        <option value="Next">Next Day</option>
                    </select>
                </div>
            </div>
            <div class="row p10 ml10 form-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" id="cb1" [(ngModel)]="rate.sunday">Sunday
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="cb2" [(ngModel)]="rate.monday">Monday
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="cb3" [(ngModel)]="rate.tuesday">Tuesday
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="cb4" [(ngModel)]="rate.wednesday">Wednesday
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="cb5" [(ngModel)]="rate.thursday">Thursday
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="cb6" [(ngModel)]="rate.friday">Friday
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="cb7" [(ngModel)]="rate.saturday">Saturday
                </label>
            </div>
        </div>
        <div *ngIf="step == 3">
            <div class="row p10">
                <rate-flat-price *ngIf="rate.typeId==constants.RateTypeFlat" [rate]="rate" [(flatRate)]="rate.flatRate" (rateChanged)="rate.flatRate = $event.target.value"></rate-flat-price>
                <rate-timed-price *ngIf="rate.typeId==constants.RateTypeTimed" [rate]="rate" [(timedRates)]="rate.timedRates" (rateChanged)="rate.timedRates = $event.target.value"></rate-timed-price>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-gray col-md-offset-6" *ngIf="step>1" (click)="step=step-1">BACK</button>
        <button class="btn btn-primary col-md-offset-11" *ngIf="step<3" (click)="step=step+1" [disabled]="!currentStepComplete()">NEXT</button>
        <button class="btn btn-primary col-md-offset-11" *ngIf="step == 3" (click)="saveRate()" [disabled]="!currentStepComplete()">SAVE</button>
    </div>
</div>
