﻿    <div class="modal-dialog modal-lg" role="document" *ngIf="suggestions && suggestions.length > 0">
            <div class="modal-header">
                <h4 class="modal-title pull-left">ADD INSTRUCTION</h4>
                <i style="cursor:pointer" class="fa fa-2x fa-times pull-right" (click)="close()"></i>
                <div style="clear:both"></div>
            </div>
            <div *ngIf="sectionId == constants.LocationInstructionSectionLocationInstructions">
                <div class="row p10">
                    <div class="col-md-1">Type</div>
                    <select class="col-md-2" style="padding:0" [(ngModel)]="selectedInstructionType">
                        <option value="1">Scan In</option>
                        <option value="2">Scan In and Out</option>
                        <option value="3">Scan Out</option>
                        <option value="4">Intercom Redemption</option>
                    </select>
                </div>
            </div>
            <div class="row p4" style="background-color:#FAFAFA;margin:2px;">
                <div class="pull-left ml10">INSTRUCTION</div>
            </div>
            <div style="max-height:250px;overflow-y:auto;overflow-x:hidden">
                <div class="row p4 border-bottom" *ngFor="let il of suggestions">
                  <div (click)="instructionSelected(il)" style="padding-left:25px;padding-right:25px">{{il.sequence}}.&nbsp;&nbsp;{{il.getLanguagePhrase('en')}}</div>
                </div>  
            </div>
    </div>
