﻿    <div class="modal-header">
        <i style="cursor:pointer" class="fa fa-2x fa-times pull-right" (click)="close()"></i>
        <h4 style="margin:0" *ngIf="inventoryItem.productInventoryId && inventoryItem.productInventoryId == '0'">ADD INVENTORY</h4>
        <h4 style="margin:0" *ngIf="inventoryItem.productInventoryId && inventoryItem.productInventoryId != '0'">EDIT INVENTORY</h4>
        <h4 style="margin:0" *ngIf="inventoryItem.locationInventoryId && inventoryItem.locationInventoryId == '0'">ADD INVENTORY</h4>
        <h4 style="margin:0" *ngIf="inventoryItem.locationInventoryId && inventoryItem.locationInventoryId != '0'">EDIT INVENTORY</h4>
    </div>
    <div class="modal-body">
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Start Date/Time:</div>
            <div class="col-md-4" style="padding:0">
                <p-calendar [(ngModel)]="inventoryItem.startDateTime" showTime="showTime" hourFormat="12"></p-calendar>
            </div>
            <div class="col-md-2" style="width:14%">End Date/Time:</div>
            <div class="col-md-4" style="padding:0">
                <p-calendar [(ngModel)]="inventoryItem.endDateTime" showTime="showTime" hourFormat="12"></p-calendar>      
            </div>
        </div>   
        <div class="row p10 ml10 form-inline">
            <label class="checkbox-inline" for="cb1">
                <input type="checkbox" id="cb1" [(ngModel)]="inventoryItem.sunday">Sunday
            </label>
            <label class="checkbox-inline" for="cb2">
                <input type="checkbox" id="cb2" [(ngModel)]="inventoryItem.monday">Monday
            </label>
            <label class="checkbox-inline" for="cb3">
                <input type="checkbox" id="cb3" [(ngModel)]="inventoryItem.tuesday">Tuesday
            </label>
            <label class="checkbox-inline" for="cb4">
                <input type="checkbox" id="cb4" [(ngModel)]="inventoryItem.wednesday">Wednesday
            </label>
            <label class="checkbox-inline" for="cb5">
                <input type="checkbox" id="cb5" [(ngModel)]="inventoryItem.thursday">Thursday
            </label>
            <label class="checkbox-inline" for="cb6">
                <input type="checkbox" id="cb6" [(ngModel)]="inventoryItem.friday">Friday
            </label>
            <label class="checkbox-inline" for="cb7">
                <input type="checkbox" id="cb7" [(ngModel)]="inventoryItem.saturday">Saturday
            </label>
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Spaces:</div>
            <div class="col-md-4" style="padding:0;"><input style="width:50px" type="number" [(ngModel)]="inventoryItem.spaces"/></div>
        </div>
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Comment:</div>
            <div class="col-md-8" style="padding:0;"><textarea cols="80" rows="3" [(ngModel)]="inventoryItem.comment"></textarea></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary col-md-offset-11" (click)="saveInventory()" [disabled]="!inventoryItem.complete">SAVE</button>
    </div>
