﻿    <div class="modal-header">
        <i style="cursor:pointer" class="fa fa-2x fa-times pull-right" (click)="close()"></i>
        <h4 style="margin:0" *ngIf="blackout.locationBlackoutId == '0'">ADD BLACKOUT</h4>
        <h4 style="margin:0" *ngIf="blackout.locationBlackoutId && blackout.locationBlackoutId != '0'">EDIT BLACKOUT</h4>
    </div>
    <div class="modal-body">
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Start Date/Time:</div>
            <div class="col-md-4" style="padding:0">
                <p-calendar [(ngModel)]="blackout.startDateTime" showTime="showTime" hourFormat="12"></p-calendar>
            </div>
            <div class="col-md-2" style="width:14%">End Date/Time:</div>
            <div class="col-md-4" style="padding:0">
                <p-calendar [(ngModel)]="blackout.endDateTime" showTime="showTime" hourFormat="12"></p-calendar>      
            </div>
        </div>   
        <div class="row p10">
            <div class="col-md-2" style="width:14%">Reason:</div>
            <div class="col-md-8" style="padding:0;"><textarea cols="80" rows="3" [(ngModel)]="blackout.reason"></textarea></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary col-md-offset-11" (click)="saveBlackout()" [disabled]="!blackout.complete">SAVE</button>
    </div>
