﻿    <div class="modal-header">
        <i style="cursor:pointer" class="fa fa-2x fa-times pull-right" (click)="close()"></i>
        <h4 style="margin:0" *ngIf="product.productId == '0'">ADD PRODUCT</h4>
        <h4 style="margin:0" *ngIf="product.productId != '0'">EDIT PRODUCT</h4>
    </div>
    <div class="modal-body">
        <div *ngIf="step == 1">
            <div class="row p10 bold">
                <div class="col-md-12">
                    Rate Details
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Product Name:</div>
                <div class="col-md-2"><input style="padding:2px" [(ngModel)]="product.name" type="text" /></div>
                <div class="col-md-1 col-md-offset-1">Subname:&nbsp;&nbsp;</div>
                <div class="col-md-2"><input type="text" style="padding:2px" [(ngModel)]="product.subName" /></div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Product Type</div>
                <div class="col-md-3">
                    <select style="padding:0" [(ngModel)]="product.type">
                        <option value="1">Monthly Pass</option>
                        <option value="2">Standard</option>
                        <option value="3">Event</option>
                        <option value="4">Multi-Use</option>
                        <option value="5">Fixed Expiry</option>
                        <option value="6">Fixed Access</option>
                        <option value="7">Airport Daily</option>
                    </select>
                </div>
                <div class="col-md-1" style="padding:0"><i class="fa fa-info-circle fa-2x" style="color:#1E70A8" [escape]="false" 
                  pTooltip="<ul class='list-unstyled'><li><strong>Standard</strong>: lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li><li><strong>Event</strong>: lorem ipson lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum<br> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li></ul>" tooltipPosition="right"></i></div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Status</div>
                <div class="col-md-2">
                    <select style="padding:0" [(ngModel)]="product.status">
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Active From</div>
                <div class="col-md-2"><p-calendar [(ngModel)]="product.activeFrom" showTime="showTime" hourFormat="12"></p-calendar></div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" style="margin-top:0px" [(ngModel)]="product.activeForever">
                            Active Forever
                        </label>
                    </div>
                </div>
                <div class="col-md-1" style="width:11%">Active To:&nbsp;&nbsp;</div>
                <div class="col-md-2" style="padding-left:0"><p-calendar [(ngModel)]="product.activeTo" showTime="showTime" hourFormat="12"></p-calendar></div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Rate Image:</div>
                <div class="col-md-6">
                    <img [src]="product.rateImageUri" style="height:80px" class="icon-image" />
                    <div style="color: #1d6ea5;"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload Rate Image</div>
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Short Description:</div>
                <div class="col-md-8"><input type="text" style="padding:2px;width:500px" [(ngModel)]="product.shortDescription" /></div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Long Description:</div>
                <div class="col-md-8"><input type="text" style="padding:2px;width:500px" [(ngModel)]="product.longDescription" /></div>
            </div>
        </div>
        <div *ngIf="step == 2">
            <div class="row p10 bold" style="margin-top:5px">
                <div class="col-md-12">
                    Product Details
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-3">Cancellation Policy""</div>
                <div class="col-md-2">
                    <select style="padding:0" [(ngModel)]="product.cancellationPolicy">
                        <option value="1">72 Hours</option>
                        <option value="2">3 Days Before</option>
                        <option value="3">24 Hours Before</option>
                        <option value="4">2 Days Before</option>
                        <option value="5">1 Week Before</option>
                        <option value="6">All Sales Final</option>
                    </select>
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-3">Hard Pass Fulfillment</div>
                <div class="col-md-2">
                    <select style="padding:0" [(ngModel)]="product.hardPassRequirement">
                        <option value="1">Manual</option>
                        <option value="2">Export</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="step == 3">
            <div class="row p10 bold" style="margin-top:5px">
                <div class="col-md-12">
                    Admin Details
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2">External Product ID:</div>
                <div class="col-md-2"><input style="padding:2px" [(ngModel)]="product.externalProductId" type="text" /></div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Min Length of Stay:</div>
                <div class="col-md-4">
                    <input [(ngModel)]="product.minStayValue" type="number" />&nbsp;&nbsp;
                    <select style="padding:0;width:auto" [(ngModel)]="product.minStayUnit">
                        <option value="1">Minutes</option>
                        <option value="2">Hours</option>
                        <option value="3">Days</option>
                        <option value="4">Weeks</option>
                    </select>
                </div>
                <div class="col-md-2">Max Length of Stay:</div>
                <div class="col-md-4">
                    <input style="padding:2px" [(ngModel)]="product.maxStayValue" type="number" />&nbsp;&nbsp;
                    <select style="padding:0;width:auto" [(ngModel)]="product.maxStayUnit">
                        <option value="1">Minutes</option>
                        <option value="2">Hours</option>
                        <option value="3">Days</option>
                        <option value="4">Weeks</option>
                    </select>
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Min Lead Time:</div>
                <div class="col-md-4">
                    <input style="padding:2px" [(ngModel)]="product.minLeadTimeValue" type="number" />&nbsp;&nbsp;
                    <select style="padding:0;width:auto" [(ngModel)]="product.minLeadTimeUnit">
                        <option value="1">Minutes</option>
                        <option value="2">Hours</option>
                        <option value="3">Days</option>
                        <option value="4">Weeks</option>
                    </select>
                </div>
                <div class="col-md-2">Max Lead Time:</div>
                <div class="col-md-4">
                    <input style="padding:2px" [(ngModel)]="product.maxLeadTimeValue" type="number" />&nbsp;&nbsp;
                    <select style="padding:0;width:auto" [(ngModel)]="product.maxLeadTimeUnit">
                        <option value="1">Minutes</option>
                        <option value="2">Hours</option>
                        <option value="3">Days</option>
                        <option value="4">Weeks</option>
                    </select>
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Is Corporate Rate?</div>
                <div class="col-md-2"><input [(ngModel)]="product.isCorporateRate" type="checkbox" /></div>
                <div class="col-md-2 col-md-offset-2">Admin Rates?</div>
                <div class="col-md-2"><input [(ngModel)]="product.isAdminRate" type="checkbox" /></div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Allow Zero Value:</div>
                <div class="col-md-6">
                    <input [(ngModel)]="product.allowZeroValue" type="checkbox" />&nbsp;&nbsp;
                    <input [(ngModel)]="product.zeroValue" type="number" style="width:50px" *ngIf="product.allowZeroValue" />
                </div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Number Of Vehicles:</div>
                <div class="col-md-2"><input style="padding:2px" [(ngModel)]="product.numberOfVehicles" type="number" /></div>
            </div>
            <div class="row p10">
                <div class="col-md-2">Sales Channel Key:</div>
                <div class="col-md-2"><input style="padding:2px" [(ngModel)]="product.salesChannelKey" type="text" /></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary col-md-offset-11" *ngIf="step == 1" (click)="step = 2">NEXT</button>
        <button class="btn btn-gray col-md-offset-9" *ngIf="step == 2" (click)="step = 1">BACK</button>
        <button class="btn btn-primary" [disabled]="!product.complete" *ngIf="step == 2" (click)="saveProduct()">SAVE</button>
        <button class="btn btn-danger" *ngIf="step == 2" (click)="step = 3">ADMIN</button>
        <button class="btn btn-gray col-md-offset-9" *ngIf="step == 3" (click)="step = 2">BACK</button>
        <button class="btn btn-primary"  [disabled]="!product.complete" *ngIf="step == 3" (click)="saveProduct()">SAVE</button>
    </div>
