﻿<div style="background-color:#EEEEEE; border:1px solid #DFDFDF;">
    <div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
        <div class="pull-left">BLACKOUTS</div>
        <div class="pull-right"><i *ngIf="!readOnly" class="fa fa-2x fa-plus iconCommandLink" style="color:#1D6EA4;position:static;margin-top:0;margin-right:15px;" (click)="addBlackout();"></i></div>
        <div style="clear:both"></div>
    </div>  
    <p-dataTable [(selection)]="selectedBlackout" [editable]="true" [immutable]="false" selectionMode="single" [value]="blackouts" tableStyleClass="pull-right" [responsive]="true">
        <p-column field="startDateTime" header="START DATE" styleClass="col-md-3" [editable]="true">
            <ng-template let-col let-blackout="rowData" pTemplate="body">
                <span>{{blackout.startDateTime | moment: 'utc' |  moment: 'format': 'MM/DD/YYYY'  }}</span>
            </ng-template>
            <ng-template let-col let-blackout="rowData" pTemplate="editor">
                <p-calendar [(ngModel)]="blackout.startDateTime"></p-calendar>
            </ng-template>
        </p-column>
        <p-column field="endDateTime" header="END DATE" styleClass="col-md-3" [editable]="true">
            <ng-template let-col let-blackout="rowData" pTemplate="body">
                <span>{{blackout.endDateTime | moment: 'utc' |  moment: 'format': 'MM/DD/YYYY'  }}</span>
            </ng-template>
            <ng-template let-col let-blackout="rowData" pTemplate="editor">
                <p-calendar [(ngModel)]="blackout.endDateTime"></p-calendar>
            </ng-template>
        </p-column>
        <p-column field="startTime" header="REASON" styleClass="col-md-3" [editable]="true">
            <ng-template let-col let-blackout="rowData" pTemplate="body">
                <span>{{blackout.reason}}</span>
            </ng-template>
        </p-column>      
        <p-column styleClass="col-md-2 text-right">
            <ng-template let-col let-blackout="rowData" pTemplate="body">
                <i style="color:#1D6EA4;" class="fa fa-2x fa-pencil iconCommandLink" (click)="editBlackout(blackout)"></i>&nbsp;
                <i style="color:#1D6EA4;" class="fa fa-2x fa-remove iconCommandLink" (click)="removeBlackout(blackout)"></i>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>