﻿ <div class="pt10">
 <p-accordion [multiple]="true" >
     <p-accordionTab>
         <p-header>
             <div class="ml10">Pass</div>
         </p-header>
         <div class="row pb10">
             <div style="width:65px;margin-left:26px;float:left">Pass:</div>
             <div style="width:485px;float:left">
                 <select>
                     <option>Organization (Default)</option>
                     <option>&#60;Custom&#62;</option>
                 </select>
                 <span style="color: #1d6ea5;"><i class="fa fa-search-plus ml10"></i>&nbsp;&nbsp;View Parking Pass</span>
             </div>
         </div>
         <div class="row pb10">
             <div style="width:65px;margin-left:26px;float:left">Color:</div>
             <div style="width:485px;float:left">
                <input style="width:185px" type="text" />
             </div>
         </div>
         <div class="row pb10">
             <div style="width:65px;margin-left:26px;float:left">Logo:</div>
             <div style="width:485px;float:left">
                 <img src="/app/images/logo.jpg" class="logo-img" />
                 <div class="mt10">
                     <span style="color: #1d6ea5;"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload &lt;Custom&gt;</span>
                 </div>
             </div>
         </div>
     </p-accordionTab>
     <p-accordionTab>
         <p-header>
             <div class="ml10">Instructions</div>
         </p-header>
         <div class="pb10">
              <div class="row p10">
                  <div class="col-md-2" style="width:100px">Pass Type:</div> 
                  <div class="col-md-1" style="width:30px;">
                      <img [style.opacity]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)? .5:1" class="passTypeImage" src="/app/images/Icons_LAZ Colors_Smart Phone Pass.png" />
                      <input class="ml10" [style.opacity]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)? .5:1" [disabled]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)" type="checkbox" [checked]="isSelectedPassTypeSelected(constants.PassTypeSmartPhone)" (change)="setSelectedPassType(constants.PassTypeSmartPhone)"/>
                  </div>
                  <div class="col-md-1" style="width:30px;margin-left:20px">
                      <img [style.opacity]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)? .5:1" class="passTypeImage" src="/app/images/Icons_LAZ Colors_Apple Wallet Pass.png" />
                      <input class="ml10" [style.opacity]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)? .5:1" [disabled]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)" type="checkbox" [checked]="isSelectedPassTypeSelected(constants.PassTypeAppleWallet)" (change)="setSelectedPassType(constants.PassTypeAppleWallet)"/>
                  </div>     
                  <div class="col-md-1" style="width:30px;margin-left:20px">
                      <img [style.opacity]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)? .5:1" class="passTypeImage" src="/app/images/Icons_LAZ Colors_Printed Pass.png" />
                      <input class="ml10" [style.opacity]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)? .5:1" [disabled]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)" type="checkbox" [checked]="isSelectedPassTypeSelected(constants.PassTypeColorsPrintedPass)" (change)="setSelectedPassType(constants.PassTypeColorsPrintedPass)"/>
                  </div>     
                  <div class="col-md-1" style="width:30px;margin-left:20px">
                      <img [style.opacity]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)? .5:1" class="passTypeImage" src="/app/images/Icons_LAZ Colors_Hard Pass.png" />
                      <input class="ml10" [style.opacity]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)? .5:1" [disabled]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)" type="checkbox" [checked]="isSelectedPassTypeSelected(constants.PassTypeColorsHardPass)" (change)="setSelectedPassType(constants.PassTypeColorsHardPass)"/>
                  </div>
                  <div class="col-md-1" style="width:30px;margin-left:20px">
                      <img class="passTypeImage" src="/app/images/Icons_LAZ Colors_No Pass Required.png" />
                      <input class="ml10" type="checkbox" [checked]="isSelectedPassTypeSelected(constants.PassTypeNoPassRequired)" (change)="setSelectedPassType(constants.PassTypeNoPassRequired)"/>
                  </div>     
              </div>
             <div class="border-bottom">
                 <div class="row p10" style="background-color:#686868;color:#FFFFFF;margin:0">
                     PASS REQUIREMENTS
                 </div>
                 <div class="row ml15 mr15" *ngFor="let instruction of getFilteredInstructionsBySection(this.constants.LocationInstructionSectionPassRequirements)" style="margin:0;">
                     <div class="row instructionHeading">
                         <div class="pull-left ml10">ADDITIONAL INSTRUCTIONS</div>
                         <div class="pull-right" style="padding:0;margin-right:3px">
                             <i style="color:#2575BC;cursor:pointer" class="fa fa-2x fa-pencil" *ngIf="!instruction.edit" (click)="instruction.edit = !instruction.edit"></i>
                             <i style="color:#2575BC;cursor:pointer" class="fa fa-2x fa-save" *ngIf="instruction.edit" (click)="saveInstruction(instruction)"></i>
                         </div>
                     </div>
                     <div style="border-bottom:0px" class="row p4 m0 border" *ngFor="let instructionLanguage of instruction.instructionByLanguage">
                         <div class="col-md-2 bold">{{instructionLanguage.language.description}}</div>
                         <div class="col-md-10" style="padding:0" *ngIf="!instruction.edit">
                             {{instructionLanguage.instruction}}
                         </div>
                         <div class="col-md-9" style="padding:0;margin:5px 5px 5px 0" *ngIf="instruction.edit">
                             <input type="text" [(ngModel)]="instructionLanguage.instruction" style="width:100%;padding:2px" />
                         </div>
                     </div>
                 </div> 
             </div>
             <hr style="height: 0px; border-top: 2px solid #1d6ea5" />
             <div class="row p10" style="background-color:#686868;color:#FFFFFF;margin:0">
                 SPECIAL INSTRUCTIONS
             </div>
             <div class="border-bottom" *ngFor="let instruction of getFilteredInstructionsBySection(this.constants.LocationInstructionSectionSpecialInstructions)" >
                 <div class="row ml15 mr15" style="margin:0;">
                     <div class="row instructionHeading">
                         <div class="pull-left ml10">INSTRUCTION {{instruction.sequence}}</div>
                         <div class="pull-right" style="padding:0;margin-right:3px">
                             <i style="color:#2575BC;cursor:pointer" class="fa fa-2x fa-pencil" *ngIf="!instruction.edit" (click)="instruction.edit = !instruction.edit"></i>
                             <i style="color:#2575BC;cursor:pointer" class="fa fa-2x fa-save" *ngIf="instruction.edit" (click)="saveInstruction(instruction)"></i>
                         </div>
                     </div>
                     <div style="border-bottom:0px" class="row p4 border" *ngFor="let instructionLanguage of instruction.instructionByLanguage">
                         <div class="col-md-2 bold">{{instructionLanguage.language.description}}</div>
                         <div class="col-md-10" style="padding:0" *ngIf="!instruction.edit">
                             {{instructionLanguage.instruction}}
                         </div>
                         <div class="col-md-9" style="padding:0;margin:5px 5px 5px 0" *ngIf="instruction.edit">
                             <input type="text" [(ngModel)]="instructionLanguage.instruction" style="width:100%;padding:2px" />
                         </div>
                     </div>
                 </div>
             </div>
                 <hr style="height: 0px; border-top: 2px solid #1d6ea5" />
                 <div class="border">
                     <div class="row p10">
                         <div class="col-md-2">Location Type</div>
                         <select style="padding:0" [(ngModel)]="selectedInstructionType">
                             <option value="1">Scan In</option>
                             <option value="2">Scan In and Out</option>
                             <option value="3">Scan Out</option>
                             <option value="4">Intercom Redemption</option>
                             <option value="5">Valet</option>
                             <option value="6">Attendant at Entry</option>
                             <option value="7">Attendant at Exit</option>
                             <option value="8">Pay &amp; Display</option>
                         </select>
                     </div>
                 </div>
                 <div class="row p10" style="background-color:#686868;color:#FFFFFF;margin:0">
                     LOCATION INSTRUCTIONS
                     <div class="pull-right" style="padding:0;">
                         <i style="color:#FFFFFF;" class="fa fa-2x fa-plus iconCommandLink" (click)="addInstruction(this.constants.LocationInstructionSectionLocationInstructions);"></i>
                     </div>
                 </div>
             <div class="border-bottom" *ngFor="let instruction of getFilteredInstructions(this.constants.LocationInstructionSectionLocationInstructions, selectedInstructionType)">
                 <div class="row ml15 mr15" style="margin:0;">
                     <div class="row instructionHeading">
                         <div class="pull-left ml10">INSTRUCTION {{instruction.sequence}}</div>
                         <div class="pull-right" style="padding:0;margin-right:3px">
                             <i style="color:#2575BC;cursor:pointer" class="fa fa-2x fa-pencil" *ngIf="!instruction.edit" (click)="instruction.edit = !instruction.edit"></i>
                             <i style="margin-left:3px;color:#2575BC;cursor:pointer" class="fa fa-2x fa-times" *ngIf="!instruction.edit" (click)="removeInstruction(instruction)"></i>
                             <i style="color:#2575BC;cursor:pointer" class="fa fa-2x fa-save" *ngIf="instruction.edit" (click)="saveInstruction(instruction)"></i>
                         </div>
                     </div>
                     <div style="border-bottom:0px" class="row p4 border" *ngFor="let instructionLanguage of instruction.instructionByLanguage">
                         <div class="col-md-2 bold">{{instructionLanguage.language.description}}</div>
                         <div class="col-md-10" style="padding:0" *ngIf="!instruction.edit">
                             {{instructionLanguage.instruction}}
                         </div>
                         <div class="col-md-9" style="padding:0;margin:5px 5px 5px 0" *ngIf="instruction.edit">
                             <input type="text" [(ngModel)]="instructionLanguage.instruction" style="width:100%;padding:2px" />
                         </div>
                     </div>
                 </div>
             </div>
             </div>
     </p-accordionTab>
     <p-accordionTab>
         <p-header>
             <div class="ml10">Email</div> 
         </p-header> 
         <div class="row pb20"> 
             <div class="col-md-4">Subject:&nbsp;&nbsp;&nbsp;<span *ngIf="!setup.emailSubjectEdit">{{setup.emailSubject}}</span>
                 <input type="text" [(ngModel)]="setup.emailSubject" *ngIf="setup.emailSubjectEdit" />
                 &nbsp;&nbsp;&nbsp;
                 <i style="color:#2575BC;cursor:pointer;display:inline" class="fa fa-pencil" *ngIf="!setup.emailSubjectEdit" (click)="setup.emailSubjectEdit = !setup.emailSubjectEdit"></i>
                 <i style="color:#2575BC;cursor:pointer;display:inline" class="fa fa-save" *ngIf="setup.emailSubjectEdit" (click)="setup.emailSubjectEdit = !setup.emailSubjectEdit"></i>
             </div>
             <div class="col-md-4">
                 From:&nbsp;&nbsp;&nbsp;<span *ngIf="!setup.emailFromEdit">{{setup.emailFrom}}</span>
                 <input type="text" [(ngModel)]="setup.emailFrom" *ngIf="setup.emailFromEdit" />
                 &nbsp;&nbsp;&nbsp;
                 <i style="color:#2575BC;cursor:pointer;display:inline" class="fa fa-pencil" *ngIf="!setup.emailFromEdit" (click)="setup.emailFromEdit = !setup.emailFromEdit"></i>
                 <i style="color:#2575BC;cursor:pointer;display:inline" class="fa fa-save" *ngIf="setup.emailFromEdit" (click)="setup.emailFromEdit = !setup.emailFromEdit"></i>
             </div>
             <div class="col-md-4">
                 From:&nbsp;&nbsp;&nbsp;<span *ngIf="!setup.emailBccEdit">{{setup.emailBcc}}</span>
                 <input type="text" [(ngModel)]="setup.emailBcc" *ngIf="setup.emailBccEdit" />
                 &nbsp;&nbsp;&nbsp;
                 <i style="color:#2575BC;cursor:pointer;display:inline" class="fa fa-pencil" *ngIf="!setup.emailBccEdit" (click)="setup.emailBccEdit = !setup.emailBccEdit"></i>
                 <i style="color:#2575BC;cursor:pointer;display:inline" class="fa fa-save" *ngIf="setup.emailBccEdit" (click)="setup.emailBccEdit = !setup.emailBccEdit"></i>
            </div>
        </div>
         <div class="row pb20">
             <div class="col-md-2" style="">Confirmation:</div>
             <div class="col-md-8">
                 <select (change)="confirmEmailChange($event)">
                     <option [selected]="setup.emailConfirmOption == 'd'" value="d">Organization (Default)</option>
                     <option [selected]="setup.emailConfirmOption == 'c'" value="c">&#60;Custom&#62;</option>
                 </select>
                 <span style="color: #1d6ea5;" class="ml5"><i class="fa fa-search-plus ml10"></i>&nbsp;&nbsp;View Confirmation Email</span>
             </div>
         </div>
         <div class="row pb20">
             <div class="col-md-2" style="">Amendment:</div>
             <div class="col-md-8">
                 <select (change)="confirmAmendmentChange($event)">
                     <option [selected] = "setup.emailAmendmentOption == 'd'" value="d">Organization (Default)</option>
                     <option [selected] = "setup.emailAmendmentOption == 'c'" value="c">&#60;Custom&#62;</option>
                 </select>
                 <span style="color: #1d6ea5;" class="ml5"><i class="fa fa-search-plus ml10"></i>&nbsp;&nbsp;View Amendment Email</span>
             </div>
         </div>
         <div class="row pb20">
             <div class="col-md-2" style="">Cancellation:</div>
             <div class="col-md-8">
                 <select (change)="confirmCancelChange($event)">
                     <option [selected]="setup.emailCancelOption == 'd'" value="d">Organization (Default)</option>
                     <option [selected]="setup.emailCancelOption == 'c'" value="c">&#60;Custom&#62;</option>
                 </select>
                 <span style="color: #1d6ea5;" class="ml5"><i class="fa fa-search-plus ml10"></i>&nbsp;&nbsp;View Cancellation Email</span>
             </div>
         </div>
     </p-accordionTab>
     <p-accordionTab>
         <p-header>
             <div class="ml10">Messages</div>
         </p-header>
         <div class="row pb20">
             <div class="col-md-2" style="">Confirmation:</div>
             <div class="col-md-8">
                 <select (change)="confirmMessageChange($event)">
                         <option value="1">Scan In</option>
                         <option value="2">Scan In and Out</option>
                         <option value="3">Scan Out</option>
                         <option value="4">Intercom Redemption</option>
                         <option value="5">Valet</option>
                         <option value="6">Attendant at Entry</option>
                         <option value="7">Attendant at Exit</option>
                         <option value="8">Pay &amp; Display</option>
                         <option value="c">&#60;Custom&#62;</option>
                 </select>
                 <span style="color: #1d6ea5;" class="ml5"><i class="fa fa-search-plus ml10"></i>&nbsp;&nbsp;View Confirmation Message</span>
             </div>
         </div>
         <div class="row pb20">
             <div class="col-md-2" style="">Amendment:</div>
             <div class="col-md-8">
                 <select (change)="confirmMessageAmendmentChange($event)">
                     <option [selected]="setup.messageAmendmentOption == 'd'" value="d">Organization (Default)</option>
                     <option [selected]="setup.messageAmendmentOption == 'c'" value="c">&#60;Custom&#62;</option>
                 </select>
                 <span style="color: #1d6ea5;" class="ml5"><i class="fa fa-search-plus ml10"></i>&nbsp;&nbsp;View Amendment Message</span>
             </div>
         </div>
         <div class="row pb20">
             <div class="col-md-2" style="">Cancellation:</div>
             <div class="col-md-8">
                 <select (change)="confirmCancelChange($event)">
                     <option [selected]="setup.messageCancelOption == 'd'" value="d">Organization (Default)</option>
                     <option [selected]="setup.messageCancelOption == 'c'" value="c">&#60;Custom&#62;</option>
                 </select>
                 <span style="color: #1d6ea5;" class="ml5"><i class="fa fa-search-plus ml10"></i>&nbsp;&nbsp;View Cancellation Message</span>
             </div>
         </div>
     </p-accordionTab>
     <hr style="height: 1px; color:#F0F0F0;margin:0;padding:1px" />
 </p-accordion>
 </div>
       