﻿<div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
    <div class="pull-left" *ngIf="!readOnly && inventoryMode==1">PRODUCT INVENTORY</div>
    <div class="pull-left" *ngIf="readOnly && inventoryMode==1">PRODUCT INVENTORY (VIEW ONLY)</div>
    <div class="pull-left" *ngIf="!readOnly && inventoryMode==2">LOCATION INVENTORY</div>
    <div class="pull-left" *ngIf="readOnly && inventoryMode==2">LOCATION INVENTORY (VIEW ONLY)</div>
    <div class="pull-right"><i *ngIf="!readOnly" class="fa fa-2x fa-plus iconCommandLink" style="color:#1D6EA4;position:static;margin-top:0;margin-right:15px;" (click)="addInventory();"></i></div>
    <div style="clear:both"></div>
</div>
<p-dataTable [immutable]="false" selectionMode="single" [value]="(productInventory)? productInventory:locationInventory" tableStyleClass="pull-right" [responsive]="true">
    <p-column field="startDateTime" header="START DATE" styleClass="col-md-1-5">
        <ng-template let-col let-inventory="rowData" pTemplate="body">
            <span>{{inventory.startDateTime | moment: 'utc' |  moment: 'format': 'MM/DD/YYYY'  }}</span>
        </ng-template>
    </p-column>
    <p-column field="endDateTime" header="END DATE" styleClass="col-md-1-5">
        <ng-template let-col let-inventory="rowData" pTemplate="body">
            <span>{{inventory.endDateTime | moment: 'utc' |  moment: 'format': 'MM/DD/YYYY'  }}</span>
        </ng-template>
    </p-column>
    <p-column field="startTime" header="START TIME" styleClass="col-md-1-5">
        <ng-template let-col let-inventory="rowData" pTemplate="body">
            <span>{{inventory.endDateTime | moment: 'utc' |  moment: 'format': 'hh:mm A'  }}</span>
        </ng-template>
    </p-column>
    <p-column field="endTime" header="END TIME" styleClass="col-md-1-5">
        <ng-template let-col let-inventory="rowData" pTemplate="body">
            <span>{{inventory.endDateTime | moment: 'utc' |  moment: 'format': 'hh:mm A'  }}</span>
        </ng-template>
    </p-column>
    <p-column class="col-md-5">
        <ng-template let-col let-inventoryItem="rowData" pTemplate="header">
            SUN&nbsp;MON&nbsp;TUES&nbsp;WED&nbsp;THUR&nbsp;FRI&nbsp;&nbsp;SAT
        </ng-template>
        <ng-template let-col let-inventoryItem="rowData" pTemplate="body">
            <div class="form-inline">
                &nbsp;<input disabled type="checkbox" [(ngModel)]="inventoryItem.sunday" />&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;<input disabled type="checkbox" [(ngModel)]="inventoryItem.monday" />&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;<input disabled type="checkbox" [(ngModel)]="inventoryItem.tuesday" />&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;<input disabled type="checkbox" [(ngModel)]="inventoryItem.wednesday" />&nbsp;&nbsp;&nbsp;
                &nbsp;<input disabled type="checkbox" [(ngModel)]="inventoryItem.thursday" />&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;<input disabled type="checkbox" [(ngModel)]="inventoryItem.friday" />&nbsp;&nbsp;&nbsp;
                &nbsp;<input disabled type="checkbox" [(ngModel)]="inventoryItem.saturday" />
            </div>
        </ng-template>
    </p-column>
    <p-column field="spaces" header="SPACES" styleClass="col-md-1"></p-column>
    <p-column *ngIf="showProductName" field="productName" header="PRODUCT" styleClass="col-md-1"></p-column>
    <p-column *ngIf="!readOnly" styleClass="col-md-1">
        <ng-template let-col let-inventoryItem="rowData" pTemplate="body">
            <i style="color:#1D6EA4" class="fa fa-2x fa-pencil iconCommandLink" (click)="editInventoryItem(inventoryItem)"></i>&nbsp;
            <i style="color:#1D6EA4" class="fa fa-2x fa-remove iconCommandLink" (click)="removeInventoryItem(inventoryItem)"></i>
        </ng-template>
    </p-column>
</p-dataTable>