﻿<p-growl [value]="msgs"></p-growl>
<div class="col-md-12" style="background-color:#E7E7E7;padding:20px 0 17px 15px;font-weight:normal;border-bottom:1px solid #DFDFDF">
    <span class="bold" style="font-size:16px;margin:0;background-color:transparent;"><a [routerLink]="['/location/location-list']">Select Parking Location</a> / <span style="color:#3B97D3">{{location?.locationName}}</span></span>
</div>
<div class="col-md-12" style="background-color:#EEEEEE;padding:20px"> 
    <tabset>
        <tab heading='Summary'>  
            <div style="padding:1.25em">
                <div class="row pb10"> 
                    <div class="col-md-2">Location Name:</div>
                    <div class="col-md-3">{{location.locationName}}</div>
                    <div class="col-md-offset-1 col-md-3">General Location Phone:</div>
                    <div class="col-md-2>">{{location.generalPhone}}</div>
                </div>
                <div class="row pb10">
                    <div class="col-md-2">Address:</div>
                    <div class="col-md-3">{{location.streetAddress}}</div>
                    <div class="col-md-offset-1 col-md-3">Help Phone:</div>
                    <div class="pull-left">
                        <div class="pull-left" *ngIf="!location.helpPhoneEdit">{{location.helpPhone}}</div>
                        <div class="pull-left" style="padding:0" *ngIf="location.helpPhoneEdit">
                            <input type="text" [(ngModel)]="location.helpPhone" style="width:120px;padding:2px" />
                        </div>
                        <div class="pull-left" style="padding:0;margin-left:14px">
                            <i style="color:#2575BC;cursor:pointer" class="fa fa-pencil" *ngIf="!location.helpPhoneEdit" (click)="location.helpPhoneEdit = !location.helpPhoneEdit"></i>
                            <i style="color:#2575BC;cursor:pointer" class="fa fa-save" *ngIf="location.helpPhoneEdit" (click)="location.helpPhoneEdit = !location.helpPhoneEdit"></i>
                        </div>
                    </div>
                </div>
                <div class="row pb10">
                    <div class="col-md-2">City:</div>
                    <div class="col-md-3">{{location.city}}</div>
                    <div class="col-md-offset-1 col-md-3">Location Email:</div>
                    <div class="col-md-2>">{{location.email}}</div>
                </div>
                <div class="row pb10">
                    <div class="col-md-2">State:</div>
                    <div class="col-md-3">{{location.state}}</div>
                    <div class="col-md-offset-1 col-md-3">Longitude:</div>
                    <div class="col-md-2>">{{location.longitude}}</div>
                </div>
                <div class="row pb10">
                    <div class="col-md-2">Postal Code:</div>
                    <div class="col-md-3">{{location.zip}}</div>
                    <div class="col-md-offset-1 col-md-3">Latitude:</div>
                    <div class="col-md-2>">{{location.latitude}}</div>
                </div>
            </div>
            <div class="pb10">
                <div style="height:5px">&nbsp;</div>
                <p-accordion [multiple]="true"> 
                    <p-accordionTab>
                        <p-header> 
                            <div class="ml10">Advanced</div>
                        </p-header>
                        <div class="row pb10">
                            <div class="col-md-2">Organization:</div>
                            <div class="col-md-3">{{location.organization}}</div>
                            <div class="col-md-offset-1 col-md-3">GL Code:</div>
                            <div class="col-md-2>">{{location.GLCode}}</div>
                        </div>
                        <div class="row pb10">
                            <div class="col-md-2">Region:</div>
                            <div class="col-md-3">{{location.region}}</div>
                            <div class="col-md-offset-1 col-md-3">Status:</div>
                            <div class="col-md-2>">{{location.status}}</div>
                        </div>
                        <div class="row pb10">
                            <div class="col-md-2">eData ID:</div>
                            <div class="col-md-3">{{location.eDataID}}</div>
                            <div class="col-md-offset-1 col-md-3">Users:</div>
                            <div class="col-md-2>">{{location.users}}</div>
                        </div>
                    </p-accordionTab>
                    <hr style="height: 1px; color:#F0F0F0; margin:0" />
                </p-accordion>
            </div>
        </tab>
        <tab heading='Communications'>  
            <div class="pt10">
                <communications [setup]="location.communicationSetup"></communications>
            </div>
        </tab>
        <tab heading="Products">
            <div class="row">
                <div class="col-md-2" style="width:15.5%;padding-right:0px;height:100%" [ngClass]="{'border-right': !selectedProduct }">
                    <div style="background-color:#9D9D9D;padding: 10px 0px 10px 15px;color:#FFFFFF">PRODUCTS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus iconCommandLink" (click)="addProduct();"></i></div>
                    <div style="padding:10px 10px 5px 10px" class="small">
                        <p-multiSelect (onChange)="filterProducts()" [filter]="false" [defaultLabel]="'Please Select'" [maxSelectedLabels]="2" [options]="productOptions" [(ngModel)]="selectedProductOptions"></p-multiSelect>
                    </div>
                    <div *ngFor="let product of location.products" style="padding: 8px 0px 8px 3px;"> 
                        <div style="padding: 0 10px 0 10px">
                            <div style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">{{product.name}}</div>
                            <div style="width:67%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><i class="small">{{product.subName}}</i></div>
                            <span style="position:relative;top:-30px;left:3px;float:right;font-size:90%">
                            <i class="fa fa-file-o iconCommandLink" (click)="selectedProduct = product"></i>&nbsp;
                            <i class="fa fa-pencil iconCommandLink"  (click)="editProduct(product);"></i>&nbsp;
                            <i class="fa fa-remove iconCommandLink" (click)="removeProduct(product)"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="pt10 col-md-10 border-left" style="padding-left:0; padding-right:0; width:83.1%"  *ngIf="selectedProduct">
                    <p-accordion [multiple]="true">
                        <p-accordionTab [selected]="true">
                            <p-header>
                                <div class="ml10">Product Details</div>
                            </p-header>
                            <div class="clearfix">
                                <div class="col-md-2">Product Name:</div>
                                <div class="col-md-2">{{selectedProduct?.name}}</div>
                                <div class="col-md-offset-1 col-md-2">Short Description:</div>
                                <div class="col-md-3">{{selectedProduct?.shortDescription}}</div>
                            </div>
                            <div class="clearfix">
                                <div class="col-md-2">Sub Name:</div>
                                <div class="col-md-3">{{selectedProduct?.subName}}</div>
                            </div>
                            <div class="clearfix">
                                <div class="col-md-2">Product Type:</div>
                                <div class="col-md-3">{{selectedProduct?.type}}</div>
                            </div>
                            <div class="clearfix">
                                <div class="col-md-2">Status:</div> 
                                <div class="col-md-2">{{selectedProduct?.status}}</div>
                                <div class="col-md-offset-1 col-md-2">Long Description:</div>
                                <div class="col-md-3">{{selectedProduct?.longDescription}}</div>
                            </div>
                            <div class="pb10 clearfix">
                                <div class="col-md-2">Rate Image:</div>
                                <div class="col-md-3"><img style="max-width:200px" src="{{selectedProduct?.rateImageUri}}" /></div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab>
                            <p-header>
                                <div class="ml10">Rates</div>
                            </p-header>
                            <div class="col-md-12" style="background-color:#EEEEEE; border:1px solid #DFDFDF; padding:0">
                                <div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
                                    <div class="pull-left">Rates</div>
                                    <div class="pull-right"><i class="fa fa-2x fa-plus iconCommandLink" style="color:#1D6EA4;position:static;margin-top:0;margin-right:15px;" (click)="addRate(selectedProduct);"></i></div>
                                    <div style="clear:both"></div>
                                </div>
                                <p-dataTable [immutable]="false" *ngIf="selectedProduct" emptyMessage="You must add a rate for this product to be active." selectionMode="single" [value]="selectedProduct?.rates" tableStyleClass="pull-right" [responsive]="true">
                                    <p-column field="priority" header="PRIORITY" sortable="true" styleClass="col-md-3"></p-column>
                                    <p-column field="defaultName" header="NAME" sortable="true" styleClass="col-md-4"></p-column>
                                    <p-column field="type" header="RATE TYPE" sortable="true" styleClass="col-md-2"></p-column>
                                    <p-column styleClass="col-md-2">
                                        <ng-template let-col let-rate="rowData" pTemplate="body">
                                            <i style="color:#1D6EA4;padding-left:60px" class="fa fa-2x fa-file-o iconCommandLink" (click)="editRate(rate)"></i>&nbsp;
                                            <i style="color:#1D6EA4"  class="fa fa-2x fa-pencil iconCommandLink" (click)="editRate(rate)"></i>&nbsp;
                                            <i style="color:#1D6EA4" class="fa fa-2x fa-remove iconCommandLink" (click)="removeRate(rate)"></i>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>
                            </div>
                            <div style="clear:both"></div>
                        </p-accordionTab>
                        <hr style="height: 1px; color:#F0F0F0; margin:0" />
                        </p-accordion>
                        <div class="row" style="margin:0px; padding:0px;">                            
                            <div class="checkbox ml10">
                                <label>
                                    <input type="checkbox" style="margin-top:0px" [(ngModel)]="selectedProduct.customizeCommunications" >
                                    Customize Communications
                                </label>
                            </div>
                            <div class="pt10 ml10" *ngIf="selectedProduct.customizeCommunications">                               
                                <communications [setup]="selectedProduct.customizeCommunications"></communications>
                            </div>
                        </div>
                        <hr style="height: 1px; color:#F0F0F0; margin:0" />
                        <div class="row" style="margin:0px; padding:0px;">
                            <div class="checkbox ml10">
                                <label>
                                    <input type="checkbox" style="margin-top:0px" [(ngModel)]="selectedProduct.customizeInventory">
                                    Customize Inventory
                                </label>
                            </div>
                            <div class="pt10" *ngIf="selectedProduct.customizeInventory">
                              <inventorylist [showProductName]="false" [inventoryMode]="1" (editingInventory)="editProductInventoryItem($event)" (removingInventory)="removeProductInventoryItem($event)" (addingInventory)="addProductInventory()" [productInventory]="selectedProduct.inventory"></inventorylist>
                            </div>
                        </div>
                        <hr style="height: 1px; color:#F0F0F0; margin:0" />
                    </div>
            </div>
        </tab>
        <tab heading="Inventory">
            <div class="row" style="margin:0px; padding:0px;">
                <inventorylist [showProductName]="false" [inventoryMode]="2" [readOnly]="false" (editingInventory)="editLocationInventoryItem($event)" (removingInventory)="removeLocationInventoryItem($event)" (addingInventory)="addLocationInventory()" [locationInventory]="location.inventory"></inventorylist>
            </div>
            <div class="row" style="margin:0px; padding:0px;">
                <inventorylist [showProductName]="true" [inventoryMode]="1" [readOnly]="true" [productInventory]="location.productInventory"></inventorylist>
            </div>
        </tab>
        <tab heading="Blackouts">
            <blackouts  (addingBlackout)="addBlackout()" (editingBlackout)="editBlackout($event)" (deletingBlackout)="removeBlackout($event)" [blackouts]="location.blackouts"></blackouts>
        </tab>
        <tab heading="Occupancy">
            Occupancy
        </tab>
    </tabset>  
</div>
