﻿<p-growl [value]="msgs"></p-growl>
<div class="col-md-12" style="background-color:#E7E7E7;padding:20px 0 17px 15px;font-weight:normal;border-bottom:1px solid #DFDFDF">
    <span class="bold" style="font-size:16px;margin:0;background-color:transparent;"><a [routerLink]="['/location/location-list']">Select Parking Location</a></span>
</div>
<div class="col-md-12" style="background-color:#EEEEEE;padding:20px">
        <div class="col-md-12" style="background-color:#EEEEEE; border:1px solid #DFDFDF; padding:0">
            <div class="clearfix"></div>
            <div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
                PARKING LOCATIONS<i class="fa fa-search fa-2x pull-right" style="margin-right:10px;color:#216FA6" aria-hidden="true"></i><input #gb type="text" class="pull-right searchBox" placeholder="Search">
            </div>
            <p-dataTable [immutable]="false" [rowStyleClass]="lookupRowStyleClass" (onFilter)="onFilter($event)" (onSort)="onSort($event)" selectionMode="single" (onRowSelect)="onRowSelect($event)" [value]="locations" tableStyleClass="pull-right" [responsive]="true" [globalFilter]="gb">
                <p-column field="locationName" header="NAME" sortable="true" styleClass="col-md-2"></p-column>
                <p-column field="city" header="CITY" sortable="true" styleClass="col-md-2"></p-column>
                <p-column field="state" header="STATE" sortable="true" styleClass="col-md-2"></p-column>
                <p-column field="GLCode" header="GL CODE" sortable="true" styleClass="col-md-2"></p-column>
                <p-column field="eDataID" header="eDATA ID" sortable="true" styleClass="col-md-2"></p-column>
            </p-dataTable>
            <br />
        </div>
    </div>



