﻿<div class="col-md-12" style="background-color:#EEEEEE; border:1px solid #DFDFDF; padding:0">
    <div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
        <div class="pull-left">PRICE BY LENGTH OF STAY</div>
        <div class="pull-right"><i class="fa fa-2x fa-plus iconCommandLink" style="color:#1D6EA4;position:static;margin-top:0;margin-right:15px;" (click)="addTimedPrice();"></i></div>
        <div style="clear:both"></div>
    </div>
    <div class="row p10 border-bottom" style="margin:0;background-color:#FFFFFF">
        <div style="width:9.5%" class="col-md-1 text-center">
            FROM
        </div>
        <div style="width:9.5%" class="col-md-1 text-center">
            TO
        </div> 
        <div style="width:9.5%" class="col-md-1 text-center">
            PERIOD
        </div> 
        <div style="width:9.5%" class="col-md-1 text-center" [ngClass]="{'disabled': !rate.sunday}">
            SUN
        </div>
        <div style="width:9.5%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.monday}">
            MON
        </div> 
        <div style="width:9.5%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.tuesday}">
            TUES
        </div>
        <div style="width:9.5%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.wednesday}">
            WED
        </div>
        <div style="width:9.5%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.thursday}">
            THUR
        </div>
        <div style="width:9.5%" class="col-md-1 text-center" [ngClass]="{'disabled': !rate.friday}">
            FRI
        </div>
        <div style="width:9.5%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.saturday}">
            SAT
        </div>   
        <div style="width:5%" class="col-md-1 text-center"></div>
    </div>
    <div class="row p5"  style="margin:0px;background-color:#FFFFFF;" *ngFor="let timedRate of timedRates">
        <div class="margin-top:3px">
            <div class="col-md-1" style="width:9.0%;">
               <input style="width:90%;padding:5px" type="number" [(ngModel)]="timedRate.from" (change)="onRateValueChanged" />
            </div>
            <div class="col-md-1" style="width:9.0%;">
                <input style="width:90%;padding:5px" type="number" [(ngModel)]="timedRate.to" (change)="onRateValueChanged" />
            </div>
            <div class="col-md-1" style="width:10.5%;">
                <select style="width:94%" [(ngModel)]="timedRate.period" (change)="onRateValueChanged">
                    <option>Hrs</option>
                    <option>Mins</option>
                </select>
            </div>
            <div class="col-md-1" style="width:9.5%;white-space:nowrap">
                $&nbsp;<input style="width:94%;padding:5px" type="number" [(ngModel)]="timedRate.sundayValue" (change)="onRateValueChanged" [disabled]="!rate.sunday"/>
            </div>
            <div class="col-md-1" style="width:9.5%;white-space:nowrap">
                $&nbsp;<input style="width:94%;padding:5px" type="number" [(ngModel)]="timedRate.mondayValue" (change)="onRateValueChanged" [disabled]="!rate.monday" />
            </div>
            <div class="col-md-1" style="width:9.5%;white-space:nowrap">
                $&nbsp;<input style="width:94%;padding:5px" type="number" [(ngModel)]="timedRate.tuesdayValue" (change)="onRateValueChanged" [disabled]="!rate.tuesday" />
            </div>
            <div class="col-md-1" style="width:9.5%;white-space:nowrap">
                $&nbsp;<input style="width:94%;padding:5px" type="number" [(ngModel)]="timedRate.wednesdayValue" (change)="onRateValueChanged" [disabled]="!rate.wednesday" />
            </div>
            <div class="col-md-1" style="width:9.5%;white-space:nowrap">
                $&nbsp;<input style="width:94%;padding:5px" type="number" [(ngModel)]="timedRate.thursdayValue" (change)="onRateValueChanged" [disabled]="!rate.thursday" />
            </div>
            <div class="col-md-1" style="width:9.5%;white-space:nowrap">
                $&nbsp;<input style="width:94%;padding:5px" type="number" [(ngModel)]="timedRate.fridayValue" (change)="onRateValueChanged" [disabled]="!rate.friday" />
            </div>
            <div class="col-md-1" style="width:9.5%;white-space:nowrap">
                $&nbsp;<input style="width:94%;padding:5px" type="number" [(ngModel)]="timedRate.saturdayValue" (change)="onRateValueChanged" [disabled]="!rate.saturday" />
            </div>
            <div class="col-md-1" style="width:5%">
                <i style="color:#2575BC;cursor:pointer" class="fa fa-2x fa-times" (click)="removeTimedPrice(timedRate)"></i>
            </div>
        </div>
    </div>
</div>