﻿<div class="col-md-12" style="background-color:#EEEEEE; border:1px solid #DFDFDF;">
    <div class="grid-header" style="border-bottom:1px solid #DFDFDF;">
        <div>FLAT RATE PRICE</div>
    </div>  
    <div class="row p10 border-bottom" style="margin:0;background-color:#FFFFFF">
        <div style="width:14.28%" class="col-md-1 text-center" [ngClass]="{'disabled': !rate.sunday}">
            SUN
        </div>
        <div style="width:14.28%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.monday}">
            MON
        </div> 
        <div style="width:14.28%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.tuesday}">
            TUES
        </div>
        <div style="width:14.28%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.wednesday}">
            WED
        </div>
        <div style="width:14.28%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.thursday}">
            THUR
        </div>
        <div style="width:14.28%" class="col-md-1 text-center" [ngClass]="{'disabled': !rate.friday}">
            FRI
        </div>
        <div style="width:14.28%" class="col-md-1 text-center"  [ngClass]="{'disabled': !rate.saturday}">
            SAT
        </div>   
    </div>
    <div class="row p10" style="background-color:#FFFFFF;">
        <div class="col-md-1" style="width:14.28%;white-space:nowrap;margin-top:5px">
            $&nbsp;<input style="width:95%;" type="number" [(ngModel)]="flatRate.sundayValue" (change)="onRateValueChanged" [disabled]="!rate.sunday"/>
        </div>
        <div class="col-md-1" style="width:14.28%;white-space:nowrap">
            $&nbsp;<input style="width:95%" type="number" [(ngModel)]="flatRate.mondayValue" (change)="onRateValueChanged" [disabled]="!rate.monday" />
        </div>
        <div class="col-md-1" style="width:14.28%;white-space:nowrap">
            $&nbsp;<input style="width:95%" type="number" [(ngModel)]="flatRate.tuesdayValue" (change)="onRateValueChanged" [disabled]="!rate.tuesday" />
        </div>
        <div class="col-md-1" style="width:14.28%;white-space:nowrap">
            $&nbsp;<input style="width:95%" type="number" [(ngModel)]="flatRate.wednesdayValue" (change)="onRateValueChanged" [disabled]="!rate.wednesday" />
        </div>
        <div class="col-md-1" style="width:14.28%;white-space:nowrap">
            $&nbsp;<input style="width:95%" type="number" [(ngModel)]="flatRate.thursdayValue" (change)="onRateValueChanged" [disabled]="!rate.thursday" />
        </div>
        <div class="col-md-1" style="width:14.28%;white-space:nowrap">
            $&nbsp;<input style="width:95%" type="number" [(ngModel)]="flatRate.fridayValue" (change)="onRateValueChanged" [disabled]="!rate.friday" />
        </div>
        <div class="col-md-1" style="width:14.28%;white-space:nowrap">
            $&nbsp;<input style="width:95%" type="number" [(ngModel)]="flatRate.saturdayValue" (change)="onRateValueChanged" [disabled]="!rate.saturday" />
        </div>
    </div>
</div>