﻿<div class="modal-dialog" role="document">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <i style="cursor:pointer" class="fa fa-2x fa-times pull-right" (click)="close()"></i>
        <div style="clear:both"></div>
    </div>
    <div class="p10 m0">
        {{prompt}}
    </div><br />
    <div class="p10 m0">
        <textarea [(ngModel)]="comment" style="margin-left:2%;" rows="4" cols="83"></textarea>
    </div>

    <div class="row pull-right pr40">
        <button class="btn btn-primary" (click)="close()">Cancel</button>
        <button class="btn btn-primary" (click)="send()" [disabled]="comment.length <= 0">Send</button>        
    </div>
</div>